.Nav_Section .nav_menu
{
   text-align: left;
}
.Nav_Section
{
   flex: 0 0 20%;
   width: 18%;
   position: absolute;
   float: left;
}
.btn
{
   margin-right:20px;
   width:30px;
   padding:0px;
}
.card-header
{
   /* background: #56AE5A;
   color:#ffffff;   
   margin-top:20px; */
}
/* Button Color Overwrite */
.mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
   background-color: #56AE5A;
   color: #ffffff;
   outline:none;
   line-height: 31px;
   font-size: 13px;
}
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
   color: #56AE5A;
}
.mat-button.mat-primary .mat-button-focus-overlay, .mat-icon-button.mat-primary .mat-button-focus-overlay, .mat-stroked-button.mat-primary .mat-button-focus-overlay{
   background-color: rgba(74, 182, 95, 0.1);
}




/* Menu Button  */

.MenuStyleOne .mat-menu-item-highlighted:not([disabled]),
.MenuStyleOne .mat-menu-item.cdk-keyboard-focused:not([disabled]),
.MenuStyleOne .mat-menu-item.cdk-program-focused:not([disabled]),
.MenuStyleOne .mat-menu-item:hover:not([disabled]) {
   background: #56AE5A !important;
   color: #fff;
   outline:none;
}

.MenuStyleOne .mat-menu-content:not(:empty) {
   padding-top: 0px !important;
   padding-bottom: 0px !important;
}
.MenuStyleOne .mat-menu-item{
   line-height: 35px !important;
   height: 35px !important;
   font-size: 10px;
}
.ngx-gallery-icon .ngx-gallery-icon-content {
   display: block;
   background-color: #25791e;
}
.ngx-gallery-image-size-cover .ngx-gallery-image {
   background-size: contain !important;
}
.ngx-gallery-image {
   background-position: center;
   background-repeat: no-repeat;
   height: 200px !important;
   width: 200px !important;
   position: absolute;
   top: 0px;
}

.ngx-gallery-thumbnail-size-cover .ngx-gallery-thumbnails .ngx-gallery-thumbnail {
   background-size: contain !important;
}
.mat-menu-panel
{
    /* position: absolute !important; */
    top: 0px !important;
    /*background: transparent !important;
    */right: 84px !important;
    width: 242px !important;
    border-radius:0px !important;
    left: 0 !important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    -ms-border-radius:0px !important;
    -o-border-radius:0px !important;
    margin-left: 100% !important;
    min-width: 260px !important;
    margin-top:-30px !important;
}
.mat-menu-content:not(:empty) {
    padding-top: 8px;
    padding-bottom: 8px;
}
a.mat-menu-item {
   width: 100% !important;
   background: #ffffff !important;
   padding: 2px 5px 30px 5px;
   border-bottom: 1px solid #f7f7f7;
   font-size: 12px !important;
}
a.mat-menu-item:hover{
   background: #eff5f3 !important;
}
.mat-menu-item p{
   font-size: 12px;
   color: darkslategray;
   line-height: 10px;
   margin-bottom: 12px;
}
.mat-menu-item
{
   font-size: 13px !important;
   padding: 0px 5px;
   height: 33px !important;
   line-height: 33px !important;
}
.mat-menu-content button:hover{
   background: #10c888 !important;
   color:#fff !important;
}
.mat-button
{
   border: none !important;
   width: 100%;
   text-align: left !important;
}
.mat-menu-item a{
   float: right;
   font-size: 11px;
   color:blue;
   line-height: 3px
}
.mat-menu-item span{
   float:left;
}
.mat-paginator
{
   background: transparent !important;
}
.mat-paginator-page-size-label {   
   font-size: 13px !important;
}
.mat-paginator-page-size-select {
   font-size: 13px !important;
}
.mat-paginator-range-actions
{
   font-size: 13px !important;
}
.mat-icon-button
{
   padding: 0;
   min-width: 0;
   width: 25px !important;
   height: 25px !important;
   flex-shrink: 0;
   line-height:  25px !important;
   border-radius: 50%;
}
.mat-paginator-icon {
   width: 24px !important;
   fill: currentColor;
   padding: 3px 2px 4px 1px !important;
}
 .mat-tab-header
{
   border: 1px solid #3c3e96;
   margin-bottom: 20px;
   margin-top:20px;
}
.mat-tab-label-active {
   min-width: 20px !important;
   padding: 5px;
   background:#3c3e96;
   color: #fff;
}
.mat-tab-label
{
   opacity: 1 !important;
   width:20% !important;
} 
.mat-checkbox
{
   margin-left: 34px !important;
}
.mat-button span{
   color:#dedcdc;
   font-size: 13px;
}
.mat-drawer-inner-container
{
   position: fixed !important;
   left: 0px;
   top:52px;
   overflow: auto;

}
.mat-expansion-panel
{  
   margin-bottom: 10px !important;
}
.mat-expansion-panel-header
{
   background: #3666af !important;
   border-radius: 0px !important;
}
.mat-expansion-indicator::after
{
   color:#ffffff !important;
}
.mat-expansion-panel-content
{
   padding-top: 10px !important;
   border: 1px solid #3666af !important;
}
.mat-accordion .mat-expansion-panel:first-of-type
{
   border-radius: 0px !important;
}
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title
{
   color:#ffffff !important
}
.mat-expansion-indicator::after
{
   color:#ffffff !important;
}
.mat-expansion-panel-body
{
   line-height: 35px !important;
}