<div id="about-page" class="pt-20 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title mt-50">
                    <h5>Nachimuthu Polytechnic College</h5>
                    <h2>Why Recruit @ NPTC </h2>
                </div> <!-- section title -->
                <div class="about-cont">
                    <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris. auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>
                    <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris.auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>
                </div>
            </div> <!-- about cont -->
          
        </div> <!-- row -->
        <div class="row">
            <h5 class="side-title">Center for Higher Studies, Competitive exam and Foreign language (CHCEFL)</h5>
            <p class="placement-para mt-20">In the globalized world of education and job preferences, seeking and gaining knowledge has become inevitable irrespective of the geographic location. MCET’s Centre for Higher studies, Competitive Exam and Foreign Language (CHCEFL) has been established with an objective of supporting the students who intent to select their right career. CHCEFL works from 9 am to 7 pm on all working days to cater the needs of the students. The following are the prime objectives of CHECEFL centre:</p>
            <ul class="exam-rules">
                 <li>To provide appropriate training and guidance to the students for pursuing their higher studies and Competitive exam based on their preference.
                 To collaborate with reputed foreign universities / training provides for higher studies and organize awareness program and training class which will help student to pursue their dream.</li>
                 <li>To provide foreign language training class in our campus by the certified trainer for interested students.</li>
                 <li>To invite highly accomplished personalities in the areas like Civil services (IAS, IPS, IRS…), RRB and Indian Navy for mounting the self-confidence among the students and offer them examination input.</li>
            </ul>
        </div>
        
    </div> <!-- container -->
  </div>