<div id="about-page" class="pb-50">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="section-title mt-50">                        
                  <h5>Current Student Strength </h5>
              </div> <!-- section title -->
              <div class="about-cont">
                      <p class="staff-list"><i class="fa fa-user" aria-hidden="true"></i> Number of boys: 366 (Academic Year 2018- 2019)<br />
                      <i class="fa fa-user" aria-hidden="true"></i> Number of girls : 226<br />
                      <h5 class="side-title">Student Organizations</h5>
                      <ul class="exam-rules">
                        <li>National Cadet Crops</li>
                        <li>National Service Scheme</li>
                        <li>Youth Red Cross</li>
                        <li>National Cadet Crops</li>
                        <li>National Service Scheme</li>
                        <li>Youth Red Cross</li>
                      </ul>   
                      <h5 class="side-title">Achievements</h5>
                      <mat-icon>picture_as_pdf</mat-icon> Achievers List
                      <h5 class="side-title">University Rank Holders</h5>
                      <mat-icon>picture_as_pdf</mat-icon> Rank Holders list
              </div>
          </div> <!-- about cont -->
         <div class="col-mg-4 mt-50">
              <div class="department-list">
                  <div class="header-list">
                      <h4>Quick Links</h4>
                  </div>
                  <div class="content-detail">
                      <ul>
                          <li><i class="fa fa-angle-double-right"></i> <a href="#">Courses Offered</a></li>
                          <li><i class="fa fa-angle-double-right"></i> <a href="#">Placements</a></li>
                          <li><i class="fa fa-angle-double-right"></i> <a href="#">NIA Family</a></li>
                          <li><i class="fa fa-angle-double-right"></i> <a href="#">Gallery</a></li>                              
                      </ul>
                  </div>
              </div>
               <div class="department-list">
                  <div class="header-list">
                      <h4>Departments</h4>
                  </div>
                  <div class="content-detail">
                      <ul>
                           <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Automobile Engineering</a></li>
                          <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Civil Engineering</a></li>
                          <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Computer Applications</a></li>
                          <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Computer Science &amp; engineering</a></li>
                          <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electrical & Electronics Engineering</a></li>
                          <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electronics & Communication Engineering</a></li>
                          <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electronics and Instrumentation Engineering</a></li>
                      </ul>
                  </div>
              </div>
         </div> 

      </div> <!-- row -->
      
  </div> <!-- container -->
</div>