<div id="about-page" class="pb-50">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
               <div class="section-title mt-50">                        
                     <h5>Students </h5>
               </div> <!-- section title -->
               <div class="about-cont" [innerHTML]="data?.content">                                            
               </div>
               <h5 class="side-title">Achievements</h5>
               <button *ngIf="achievementsFileUrl" title="{{data?.achievementsFileName}}" mat-stroked-button class="link-tag" style="width: 150px !important; margin-top: 10px; margin-left: 18px" (click)="download(achievementsFileUrl)"><i class="fa fa-file-pdf-o"></i> {{(data?.achievementsFileName.length > 10) ? (data?.achievementsFileName | slice: 0:10) + '...' : (data?.achievementsFileName)}}</button>                       
               <!-- <a href="{{achievementsFileUrl}}" target="_blank"><img src="../../../../assets/images/pdf-icon.png" /> Click here to download Achievers List</a> -->
               <h5 class="side-title">University Rank Holders</h5>
               <button *ngIf="rankHoldersFileUrl" title="{{data?.rankHoldersFileName}}" mat-stroked-button class="link-tag" style="width: 150px !important; margin-top: 10px; margin-left: 18px" (click)="download(rankHoldersFileUrl)"><i class="fa fa-file-pdf-o"></i>{{(data?.rankHoldersFileName.length > 10) ? (data?.rankHoldersFileName | slice: 0:10) + '...' : (data?.rankHoldersFileName)}}</button>                       
               <!-- <a href="{{rankHoldersFileUrl}}" target="_blank"><img src="../../../../assets/images/pdf-icon.png" /> Click here to download Rank Holders list</a> -->
          </div> <!-- about cont -->
         <div class="col-lg-4 mt-50">              
               <div class="department-list">
                  <div class="header-list">
                      <h4>Departments</h4>
                  </div>
                  <div class="content-detail">
                    <ul>
                        <div *ngFor="let data of departmentlist">
                            <li><a [routerLink]="['/department-view', data._id]"> {{data?.name}}</a></li>
                        </div>                           
                    </ul>
                  </div>
              </div>
         </div> 

      </div> <!-- row -->
      
  </div> <!-- container -->
</div>