<div id="about-page" class="pb-20">
    <div class="container">
        <div class="row">  
          <div class="about-items pt-60">
              <div class="row justify-content-center">                                 
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="about-singel-items mt-30">                        
                          <h4>Our organogram - 2019</h4>
                          <img src="../../../../assets/images/organogram.JPG" />
                      </div> <!-- about singel -->
                  </div>
              </div> <!-- row -->
          </div> <!-- about items -->
      </div>
    </div> <!-- container -->
  </div>
