<div class="management-page pt-60">
  <div class="container">
    <div class="row pb-60">
        <div class="section-title mt-20">
            <h5>Nachimuthu Polytechnic College</h5>
        </div> <!-- section title -->
        <mat-tab-group>
            <mat-tab label="Founder"> 
                <div class="col-lg-12">
                    <div class="section-title mt-20">                      
                        <h2>Founder</h2>
                    </div> <!-- section title -->
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <img src="{{founderimageUrl}}" />
                      </div>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="about-cont" [innerHTML]="founderdata?.content">
                        </div>
                      </div>
                    </div>
                </div> 
            </mat-tab>
            <mat-tab label="Chairman">
                <div class="col-lg-12">
                  <div class="section-title mt-20">                      
                      <h2>Chairman</h2>
                  </div> <!-- section title -->
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                      <img src="{{chairmanimageUrl}}" />
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                      <div class="about-cont" [innerHTML]="chairmandata?.content">
                      </div>
                    </div>
                  </div>
                </div> 
            </mat-tab>
            <mat-tab label="Correspondent">
                <div class="col-lg-12">
                    <div class="section-title mt-20">                      
                        <h2>Correspondent</h2>
                    </div> <!-- section title -->
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <img src="{{correspondentimageUrl}}" />
                      </div>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="about-cont" [innerHTML]="correspondentdata?.content">
                        </div>
                      </div>
                    </div>
                </div> 
            </mat-tab>
            <mat-tab label="Secretary"> 
                <div class="col-lg-12">
                    <div class="section-title mt-20">                      
                        <h2>Secretary</h2>
                    </div> <!-- section title -->
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <img src="{{secretaryimageUrl}}" />
                      </div>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="about-cont" [innerHTML]="secretarydata?.content">
                        </div>
                      </div>
                    </div>
                </div>    
            </mat-tab>
            <mat-tab label="Principal"> 
                <div class="col-lg-12">
                    <div class="section-title mt-20">                      
                        <h2>Principal</h2>
                    </div> <!-- section title -->
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                        <img src="{{principalimageUrl}}" style="height:300px;" />
                      </div>
                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="about-cont" [innerHTML]="principaldata?.content">
                        </div> 
                      </div>
                    </div>
                </div>   
        </mat-tab>
        </mat-tab-group>
    </div>
  </div>
</div>

