<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NPTC</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="./assets/images/logo.png">
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <!-- <link rel="stylesheet" href="assets/css/slick.css"> -->
  <link rel="stylesheet" href="assets/Over-Write-Css/material-overwrite.css" /> 
  <link rel="stylesheet" href="assets/css/default.css" />
  <!-- <script src="assets/js/main.js"></script>
  <script src="assets/js/slick.min.js"></script>
  <script src="assets/js/jquery-1.12.4.min.js"></script>
  <script src="assets/js/main.js"></script> -->
</head>
<body>
  <app-root></app-root>
</body>
<script type="text/javascript">
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
//   if(header.has("sticky1"))
//   {
//    header.classList.remove("sticky");
//   }
}
</script>
</html>
