<div class="container">
  <div class="row">
    <div class="section-title mt-40">
      <h4>Approvals</h4>
    </div>
    <div [innerHTML]="data?.content">
   </div>
   <div style="width: 100%">
      <mat-accordion>
         <mat-expansion-panel>
            <mat-expansion-panel-header>
               <mat-panel-title>
                  AICTE Approval 2018 - 19
               </mat-panel-title>              
            </mat-expansion-panel-header>                            
            <div class="row">                        
               <div [innerHTML]="aictedata?.content" class="col-lg-10"></div>                        
               <div *ngIf="aictedata?.fileUrl !== null && aictedata?.fileUrl !== ''" class="col-lg-2 download-style">
               <button *ngIf="aictefileUrl" mat-stroked-button class="link-tag" (click)="download(aictefileUrl)"><i class="fa fa-file-pdf-o"></i> {{(aictedata?.fileName.length > 10) ? (aictedata?.fileName | slice: 0:10) + '...' : (aictedata?.fileName)}}</button>
                  <!-- <a href="{{aictefileUrl}}" target="_blank"><img src="../../../../assets/images/pdf-icon.png" /></a>        -->
               </div>
            </div>
         </mat-expansion-panel>
         <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
               <mat-panel-title>
                  Anti Ragging Committee
               </mat-panel-title>                                                    
            </mat-expansion-panel-header>
            <div class="row">
               <div [innerHTML]="antiraggingdata?.content" class="col-lg-10"></div> 
               <div *ngIf="antiraggingdata?.fileUrl !== null && antiraggingdata?.fileUrl !== ''" class="col-lg-2">   
               <button *ngIf="antiraggingfileUrl" mat-stroked-button class="link-tag" (click)="download(antiraggingfileUrl)"><i class="fa fa-file-pdf-o"></i> {{(antiraggingdata?.fileName.length > 10) ? (antiraggingdata?.fileName | slice: 0:10) + '...' : (antiraggingdata?.fileName)}}</button>

                  <!-- <a href="{{antiraggingfileUrl}}" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>        -->
               </div>
            </div>
         </mat-expansion-panel>
         <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
               <mat-panel-title>
                  Women Empowerment Cell
               </mat-panel-title>                                                    
            </mat-expansion-panel-header>
            <div class="row">  
               <div [innerHTML]="womenempowermentdata?.content" class="col-lg-10"></div>
               <div *ngIf="womenempowermentdata?.fileUrl !== null && womenempowermentdata?.fileUrl !== ''" class="col-lg-2"> 
               <button *ngIf="womenempowermentfileUrl" mat-stroked-button class="link-tag" (click)="download(womenempowermentfileUrl)"><i class="fa fa-file-pdf-o"></i> {{(womenempowermentdata?.fileName.length > 10) ? (womenempowermentdata?.fileName | slice: 0:10) + '...' : (womenempowermentdata?.fileName)}}</button>
                  <!-- <a href="{{womenempowermentfileUrl}}" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>             -->
               </div>
            </div>
         </mat-expansion-panel>
         <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
               <mat-panel-title>
                  Sexual Harassment Redressal Committee
               </mat-panel-title>                                                    
            </mat-expansion-panel-header>
            <div class="row">  
               <div [innerHTML]="harassmentdata?.content" class="col-lg-10"></div>
               <div *ngIf="harassmentdata?.fileUrl !== null && harassmentdata?.fileUrl !== ''" class="col-lg-2">
               <button *ngIf="harassmentfileUrl" mat-stroked-button class="link-tag" (click)="download(harassmentfileUrl)"><i class="fa fa-file-pdf-o"></i> {{(harassmentdata?.fileName.length > 10) ? (harassmentdata?.fileName | slice: 0:10) + '...' : (harassmentdata?.fileName)}}</button>
                  <!-- <a href="{{harassmentfileUrl}}" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a> -->
               </div>
            </div>
         </mat-expansion-panel>
      </mat-accordion>   
   </div>
    <!-- <div class="row">
      <div class="col-xl-12" [innerHTML]="data?.content">
      </div>
      <div class="col-xl-12">
            <mat-accordion>
                  <mat-expansion-panel>
                     <mat-expansion-panel-header>
                        <mat-panel-title>
                           AICTE Approval 2018 - 19
                        </mat-panel-title>              
                     </mat-expansion-panel-header>                            
                     <div class="row">                        
                        <div [innerHTML]="aictedata?.content" class="col-lg-10"></div>                        
                        <div class="col-lg-2">
                           <a href="{{aictefileUrl}}" target="_blank"><img src="../../../../assets/images/pdf-icon.png" /></a>       
                        </div>
                     </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                      (closed)="panelOpenState = false">
                     <mat-expansion-panel-header>
                        <mat-panel-title>
                           Anti Ragging Committee
                        </mat-panel-title>                                                    
                     </mat-expansion-panel-header>
                     <div class="row">
                        <div [innerHTML]="antiraggingdata?.content" class="col-lg-10"></div> 
                        <div class="col-lg-2">   
                           <a href="{{antiraggingfileUrl}}" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>       
                        </div>
                     </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                      (closed)="panelOpenState = false">
                     <mat-expansion-panel-header>
                        <mat-panel-title>
                           Women Empowerment Cell
                        </mat-panel-title>                                                    
                     </mat-expansion-panel-header>
                     <div class="row">  
                        <div [innerHTML]="womenempowermentdata?.content" class="col-lg-10"></div>
                        <div class="col-lg-2"> 
                           <a href="{{womenempowermentfileUrl}}" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>            
                        </div>
                     </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                      (closed)="panelOpenState = false">
                     <mat-expansion-panel-header>
                        <mat-panel-title>
                           Sexual Harassment Redressal Committee
                        </mat-panel-title>                                                    
                     </mat-expansion-panel-header>
                     <div class="row">  
                        <div [innerHTML]="harassmentdata?.content" class="col-lg-10"></div>
                        <div class="col-lg-2">
                           <a href="{{harassmentfileUrl}}" target="_blank"><img src="../../../assets/images/pdf-icon.png" /></a>
                        </div>
                     </div>
                  </mat-expansion-panel>
              </mat-accordion>   
      </div>
    </div> -->
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        
      </div> 
      
    </div>
  </div>
</div>
