<div id="about-page" class="pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                  <div class="section-title mt-50">                        
                     <h5>E-Brochure</h5>
                  </div> <!-- section title -->
                  <div class="about-cont" [innerHTML]="data?.content"></div>
                  <div *ngFor="let file of brochurefileUrl; let i=index;" class="row">                        
                     <a class="col-lg-7 downloadlink" href="{{file}}" target="_blank"><img src="../../../../assets/images//pdf-icon.png" /><span class="download">Click here to download </span></a>                                    
                  </div>
            </div> <!-- about cont -->
            <div class="col-lg-4 mt-50">                                   
              <div class="department-list">
                <div class="header-list">
                    <h4>Departments</h4>
                </div>
                <div class="content-detail">
                    <ul>
                        <div *ngFor="let data of departmentlist">
                            <li><a [routerLink]="['/department-view', data._id]">{{data?.name}}</a></li>
                        </div>                           
                    </ul>
                </div>
              </div>
           </div>

        </div> <!-- row -->
      </div>
    </div> <!-- container -->