<div id="corses-singel" class="pt-10 pb-60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="corses-singel-left mt-30">
                    <div class="title">
                        <h3>Electrical Engineering</h3>
                    </div> <!-- title -->
                    <div class="course-terms">
                        <ul>                               
                            <li>
                                <div class="course-category">
                                    <span>Engineering</span>
                                    <h6>Electrical </h6>
                                </div>
                            </li>                                
                        </ul>
                    </div> <!-- course terms -->
                    
                    <div class="corses-singel-image pt-50">
                        <img src="../../../../assets/images/course/single/electrical.jpg" alt="Courses">
                    </div> <!-- corses singel image -->
                    
                    <div class="corses-tab mt-30">
                        <mat-tab-group>
                            <mat-tab label="Overview" style="width:50% !important"> 
                                <div class="col-lg-12">
                                    <div class="overview-description">
                                        <div class="singel-description pt-40">
                                            <h6>Course Summary</h6>
                                            <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                            <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                        </div>                                       
                                    </div> <!-- overview description -->
                                </div> 
                            </mat-tab>
                            <mat-tab label="Course Structure" style="width:50% !important;">
                                <div class="col-lg-12">
                                        <mat-accordion>
                                                <mat-expansion-panel>
                                                  <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                      Semester 1
                                                    </mat-panel-title>
                                                   
                                                  </mat-expansion-panel-header>                                              
                                                  <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Theory</th>
                                                            <th>Practical</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Paper 1</td>
                                                            <td>Practical 1</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 2</td>
                                                            <td>Practical 2</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 3</td>
                                                            <td>Practical 3</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 4</td>
                                                            <td>Practical 4</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 5</td>
                                                            <td>Practical 5</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                                     (closed)="panelOpenState = false">
                                                  <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                      Semester 2
                                                    </mat-panel-title>                                                    
                                                  </mat-expansion-panel-header>
                                                  <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Theory</th>
                                                            <th>Practical</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Paper 1</td>
                                                            <td>Practical 1</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 2</td>
                                                            <td>Practical 2</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 3</td>
                                                            <td>Practical 3</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 4</td>
                                                            <td>Practical 4</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 5</td>
                                                            <td>Practical 5</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                                     (closed)="panelOpenState = false">
                                                  <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                      Semester 3
                                                    </mat-panel-title>                                                    
                                                  </mat-expansion-panel-header>
                                                  <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Theory</th>
                                                            <th>Practical</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Paper 1</td>
                                                            <td>Practical 1</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 2</td>
                                                            <td>Practical 2</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 3</td>
                                                            <td>Practical 3</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 4</td>
                                                            <td>Practical 4</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 5</td>
                                                            <td>Practical 5</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                                     (closed)="panelOpenState = false">
                                                  <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                      Semester 4
                                                    </mat-panel-title>                                                    
                                                  </mat-expansion-panel-header>
                                                  <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Theory</th>
                                                            <th>Practical</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Paper 1</td>
                                                            <td>Practical 1</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 2</td>
                                                            <td>Practical 2</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 3</td>
                                                            <td>Practical 3</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 4</td>
                                                            <td>Practical 4</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper 5</td>
                                                            <td>Practical 5</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                </mat-expansion-panel>
                                        </mat-accordion>                                                                     
                                </div>
                            </mat-tab>                            
                        </mat-tab-group>
                    </div>
                </div> <!-- corses singel left -->
                
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="course-features mt-30">
                           <h4>Vision </h4>
                           <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>  
                           <h4>Mission</h4>                             
                            <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                        </div> <!-- course features -->
                    </div>                        
                </div>
            </div>
        </div> <!-- row -->
       <div class="row">
            <div class="col-lg-12">
                <div class="corses-singel-left mt-30">
                    <div class="title">
                        <h3>Electrical Engineering</h3>
                    </div> <!-- title -->
                    
                    <div class="corses-tab mt-30">
                        <mat-tab-group>
                            <mat-tab label="Publications"> 
                                <div class="col-lg-12">
                                        <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Name of the Faculty</th>
                                                        <th>Designation</th>
                                                        <th>Title</th>
                                                        <th>Journal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Faculty Name</td>
                                                        <td>Professor &amp; Head</td>
                                                        <td>Journal Title</td>
                                                        <td>Journal Description</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Faculty Name</td>
                                                        <td>Professor &amp; Head</td>
                                                        <td>Journal Title</td>
                                                        <td>Journal Description</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Faculty Name</td>
                                                        <td>Professor &amp; Head</td>
                                                        <td>Journal Title</td>
                                                        <td>Journal Description</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Faculty Name</td>
                                                        <td>Professor &amp; Head</td>
                                                        <td>Journal Title</td>
                                                        <td>Journal Description</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Faculty Name</td>
                                                        <td>Professor &amp; Head</td>
                                                        <td>Journal Title</td>
                                                        <td>Journal Description</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                </div> 
                            </mat-tab>
                            <mat-tab label="Laboratories">
                                <div class="col-lg-12">
                                    <mat-accordion>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                Electrical Machines Lab
                                                </mat-panel-title>                                           
                                            </mat-expansion-panel-header>
                                            <div class="col-lg-12">
                                                <div class="col-lg-4" style="float: left;">
                                                    <img src="../../../../assets/images/course/electrical.png" />
                                                </div>
                                                <div class="col-lg-8" style="float: left;">
                                                    <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                                    <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel (opened)="panelOpenState = true"
                                                             (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                Power Electronics Lab
                                                </mat-panel-title>                                                    
                                            </mat-expansion-panel-header>
                                            <div class="col-lg-12">
                                                    <div class="col-lg-4" style="float: left;">
                                                        <img src="../../../../assets/images/course/electrical.png" />
                                                    </div>
                                                    <div class="col-lg-8" style="float: left;">
                                                        <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                                        <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                                    </div>
                                                </div>
                                        </mat-expansion-panel>
                                        <mat-expansion-panel (opened)="panelOpenState = true"
                                                             (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                Wiring &amp; Wining Lab
                                                </mat-panel-title>                                                    
                                            </mat-expansion-panel-header>
                                            <div class="col-lg-12">
                                                    <div class="col-lg-4" style="float: left;">
                                                        <img src="../../../../assets/images/course/electrical.png" />
                                                    </div>
                                                    <div class="col-lg-8" style="float: left;">
                                                        <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                                        <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                                    </div>
                                                </div>
                                        </mat-expansion-panel>
                                        
                                </mat-accordion>                                 
                                </div>
                            </mat-tab>
                            <mat-tab label="Faculty">
                                    <div class="col-lg-12">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name of the Faculty</th>
                                                    <th>Designation</th>
                                                    <th>Title</th>
                                                    <th>Journal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Faculty Name</td>
                                                    <td>Professor &amp; Head</td>
                                                    <td>Journal Title</td>
                                                    <td>Journal Description</td>
                                                </tr>
                                                <tr>
                                                    <td>Faculty Name</td>
                                                    <td>Professor &amp; Head</td>
                                                    <td>Journal Title</td>
                                                    <td>Journal Description</td>
                                                </tr>
                                                <tr>
                                                    <td>Faculty Name</td>
                                                    <td>Professor &amp; Head</td>
                                                    <td>Journal Title</td>
                                                    <td>Journal Description</td>
                                                </tr>
                                                <tr>
                                                    <td>Faculty Name</td>
                                                    <td>Professor &amp; Head</td>
                                                    <td>Journal Title</td>
                                                    <td>Journal Description</td>
                                                </tr>
                                                <tr>
                                                    <td>Faculty Name</td>
                                                    <td>Professor &amp; Head</td>
                                                    <td>Journal Title</td>
                                                    <td>Journal Description</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> <!-- row -->
                                </mat-tab> 
                            <mat-tab label="Activities"> 
                                <div class="col-lg-12">
                                        <mat-tab-group>
                                            <mat-tab label="Association Activities" style="width:50% !important"> 
                                                <div class="col-lg-12">
                                                        <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Program</th>
                                                                        <th>Chief Guest</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Guest Lecture on DEEE</td>
                                                                        <td>Chief Guest Name</td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td>Guest Lecture on DEEE</td>
                                                                        <td>Chief Guest Name</td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td>Guest Lecture on DEEE</td>
                                                                        <td>Chief Guest Name</td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td>Guest Lecture on DEEE</td>
                                                                        <td>Chief Guest Name</td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td>Guest Lecture on DEEE</td>
                                                                        <td>Chief Guest Name</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                </div> 
                                            </mat-tab>
                                            <mat-tab label="Association Activities" style="width:50% !important"> 
                                                <div class="col-lg-12">
                                                        <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Program</th>
                                                                        <th>Chief Guest</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Guest Lecture on DEEE</td>
                                                                        <td>Chief Guest Name</td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td>Guest Lecture on DEEE</td>
                                                                        <td>Chief Guest Name</td>
                                                                    </tr>
                                                                     <tr>
                                                                        <td>Guest Lecture on DEEE</td>
                                                                        <td>Chief Guest Name</td>
                                                                    </tr>                                                                    
                                                                </tbody>
                                                            </table>
                                                </div> 
                                            </mat-tab>
                                        </mat-tab-group>
                                </div> <!-- about cont -->    
                        </mat-tab>
                        </mat-tab-group>
                    </div>
                </div> <!-- corses singel left -->
                
            </div>             
        </div> <!-- row -->
    </div> <!-- container -->
  </div>