<footer id="footer-part">
  <div class="footer-top pt-40 pb-70">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="footer-about mt-40">
                      <div class="logo">
                          <a href="index.html"><img src="../../../../assets/images/logo1.png" alt="NPC"></a>
                      </div>
                      <p>To Provide State of Art Technical Education with Skill Oriented Training to the Youth to Meet the Industrial Requirement of the Region. </p>
                      <ul class="mt-20">
                          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                  </div> <!-- footer about -->
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="footer-link mt-40">
                      <div class="footer-title pb-25">
                          <h6>Quick Links</h6>
                      </div>
                      <ul>
                          <li><a [routerLink]="['/home']"><i class="fa fa-angle-right"></i>Home</a></li>
                          <li><a [routerLink]="['/about-overview']"><i class="fa fa-angle-right"></i>About us</a></li>
                          <li><a [routerLink]="['/courses']" routerLinkActive="router-link-active" ><i class="fa fa-angle-right"></i>Courses</a></li>
                          <li><a [routerLink]="['/management']"><i class="fa fa-angle-right"></i>Management</a></li>
                          <li><a [routerLink]="['/departments']"><i class="fa fa-angle-right"></i>Departments</a></li>
                      </ul>
                      <ul>
                          <li><a [routerLink]="['/staff']"><i class="fa fa-angle-right"></i>Faculty &amp; Staff</a></li>
                          <li><a [routerLink]="['/facilities']"><i class="fa fa-angle-right"></i>Facilities</a></li>
                          <li><a [routerLink]="['/scholarships']"><i class="fa fa-angle-right"></i>Scholarships</a></li>
                          <li><a [routerLink]="['/about-placement']"><i class="fa fa-angle-right"></i>Placements</a></li>
                          <li><a [routerLink]="['/contact']" ><i class="fa fa-angle-right"></i>Contact</a></li>
                      </ul>
                  </div> <!-- footer link -->
              </div>              
              <div class="col-lg-4 col-md-6">
                  <div class="footer-address mt-40">
                      <div class="footer-title pb-25">
                          <h6>Contact Us</h6>
                      </div>
                      <ul>
                          <li>
                              <div class="icon">
                                  <i class="fa fa-home"></i>
                              </div>
                              <div class="cont">
                                  <p> Nachimuthu Polytechnic College, <br />
                                  Udumalai Road, Pollachi - 642003, Tamil Nadu, India</p>
                              </div>
                          </li>
                          <li>
                              <div class="icon">
                                  <i class="fa fa-phone"></i>
                              </div>
                              <div class="cont">
                                  <p>91-4259-236030, 236040, 236050</p>
                              </div>
                          </li>
                          <li>
                              <div class="icon">
                                  <i class="fa fa-envelope-o"></i>
                              </div>
                              <div class="cont">
                                  <p>principal@nptc.ac.in</p>
                              </div>
                          </li>
                      </ul>
                  </div> <!-- footer address -->
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </div> <!-- footer top -->
  
  <div class="footer-copyright pt-10 pb-10">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="copyright text-md-left text-center">
                      <p>&copy; Copyrights 2019 Nachimuthu Polytechnic College All rights reserved. </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="copyright text-md-right text-center">
                      <p>Designed by <span> <a href="http://aashitechno.com/" target="_blank">AASHI SOFTWARES PVT LTD</a></span> </p>
                  </div>
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </div> <!-- footer copyright -->
</footer>
