<div id="about-page" class="pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
               <div class="section-title mt-50">                        
                  <h5>Office of Controller of Examinations </h5>
               </div> <!-- section title -->
               <div class="about-cont" [innerHTML]="examdata?.content">                    
               </div>
            </div>
            <div class="col-lg-4 mt-50">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Curriculam &amp; Syllabus
                        </mat-panel-title>              
                        </mat-expansion-panel-header>
                        <div class="row" >
                           <!-- <div class="col-lg-2"> -->

                                 <!-- <a href="{{syllabusfileUrl}}" target="_blank"><img src="../../../../assets/images/pdf-icon.png" /></a>                         -->
                           <!-- </div> -->
                           <div [innerHTML]="syllabusdata?.content" class="col-lg-10"></div>  
                           <button *ngIf="syllabusfileUrl" mat-stroked-button class="link-tag" style="width: 150px !important; margin-top: 10px; margin-left: 18px" (click)="download(syllabusfileUrl)"><i class="fa fa-file-pdf-o"></i> Download PDF</button>                       

                        </div>                                              
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Regulations
                        </mat-panel-title>                                                    
                        </mat-expansion-panel-header>
                        <div class="row" *ngFor="let file of regulationdata; let i=index;">                              <button *ngIf="syllabusfileUrl" mat-stroked-button class="link-tag" style="width: 150px !important; margin-top: 10px; margin-left: 18px" (click)="download(syllabusfileUrl)"><i class="fa fa-file-pdf-o"></i> Download PDF</button>                       

                           <!-- <a href="{{file.fileUrl}}" target="_blank" class="col-lg-2"><img src="../../../assets/images/pdf-icon.png" /></a>                                     -->
                           <p class="col-lg-10">{{file?.content}}
                                 <button *ngIf="file.fileUrl" mat-stroked-button class="link-tag" style="width: 150px !important; margin-top: 10px; margin-left: 18px" (click)="download(file.fileUrl)"><i class="fa fa-file-pdf-o"></i> Download PDF</button>                       
                           </p>                         
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Circulars
                        </mat-panel-title>                                                    
                        </mat-expansion-panel-header>
                        <div class="row" *ngFor="let file of circulardata; let i=index;">

                           <!-- <a href="{{file.fileUrl}}" target="_blank" class="col-lg-2"><img src="../../../assets/images/pdf-icon.png" /></a>                                     -->
                           <p class="col-lg-10">{{file?.content}}
                                 <button *ngIf="file.fileUrl" mat-stroked-button class="link-tag" style="width: 150px !important; margin-top: 10px; margin-left: 18px" (click)="download(file.fileUrl)"><i class="fa fa-file-pdf-o"></i> Download PDF</button>                       

                           </p>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Downloads
                        </mat-panel-title>                                                    
                        </mat-expansion-panel-header>
                        <div class="row" *ngFor="let file of downloadsdata; let i=index;">

                           <!-- <a href="{{file.fileUrl}}" target="_blank" class="col-lg-2"><img src="../../../../assets/images/pdf-icon.png" /></a>                                     -->
                           <p class="col-lg-10"> {{file?.content}}
                                 <button *ngIf="file.fileUrl" mat-stroked-button class="link-tag" style="width: 150px !important; margin-top: 10px; margin-left: 18px" (click)="download(file.fileUrl)"><i class="fa fa-file-pdf-o"></i> Download PDF</button>                       

                           </p>
                          </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Results
                        </mat-panel-title>                                                    
                        </mat-expansion-panel-header>
                        <div class="row" *ngFor="let file of resultsdata; let i=index;">                      

                              <p class="col-lg-10">{{file?.content}}
                                    <button *ngIf="file.fileUrl" mat-stroked-button class="link-tag" style="width: 150px !important; margin-top: 10px; margin-left: 18px" (click)="download(file.fileUrl)"><i class="fa fa-file-pdf-o"></i> Download PDF</button> 
                              </p>
                              <!-- <a href="{{file.fileUrl}}" target="_blank" class="col-lg-2"><img src="../../../assets/images/pdf-icon.png" /></a>                                     -->
                          </div>
                    </mat-expansion-panel>
                </mat-accordion> 
            </div> <!-- about cont -->
            <!-- <div class="col-mg-4 mt-50">                                      
                <div class="department-list">
                    <div class="header-list">
                        <h4>Departments</h4>
                    </div>
                    <div class="content-detail">
                        <ul>
                             <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Automobile Engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Civil Engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Computer Applications</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Computer Science &amp; engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electrical & Electronics Engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electronics & Communication Engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electronics and Instrumentation Engineering</a></li>
                        </ul>
                    </div>
                </div>
           </div> -->

        </div> <!-- row -->
        
    </div> <!-- container -->
</div>