<div id="about-page" class="pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title mt-50">                        
                    <h5>Current Staff Strength </h5>
                </div> <!-- section title -->
                <div class="about-cont">
                        <p class="staff-list"><i class="fa fa-user" aria-hidden="true"></i> Total Number of staff in MCET : 366 (Academic Year 2018- 2019)<br />
                        <i class="fa fa-user" aria-hidden="true"></i> Number of Teaching Staff : 226<br />
                       <i class="fa fa-user" aria-hidden="true"></i> Number of Non – Teaching Staff : 140</p>
                       <h5 class="side-title">General Rules and Regulations</h5>
                        <p class="admin-para">All the Staff to be in formals in all the working days</p>
                        <p class="admin-para">Staff Should wear their ID Cards in the campus</p>
                        <p class="admin-para">Prior permission should be taken on availing leave & suitable alternative arrangements to be made</p>
                        <h5 class="side-title"> STAFF FAMILY BENEFIT FUND ( SFBF )</h5>
                         <p> A unique scheme called Staff Family Benefit Fund (SFBF) has been implemented in Dr. Mahalingam College of Engineering and Technology, Pollachi with effect from 01-04-2005. All staff working in MCET are members of the scheme and subscribe Rs. 100/- every month and deducted from the salary. The Management is also contributing an equal amount of Rs. 100/- to the scheme. The first General Body ( GB) approved the Bye laws.</p>
                         <p>At the demise of the subscriber (even after serving one day) SFBF pays Rs. 10,000/- to the nominee of the subscriber’s family. At the demise of the father,mother, husband, wife of the subscriber a non refundable amount of  Rs. 5000/- is given to the subscriber to meet out the immediate expenses.</p>
                         <p>Family get-together is organized to the members of the family once in a year. The annual General Body meetings are conducted every year. Prior to Deepavali festivel, all subscribers are given Deepavali sweets. Members who leave the institution are given the full subscription amount paid by them.Accrued amount is deposited and maintained by the Executive Committee.</p>                        
                </div>
            </div> <!-- about cont -->
          <div class="col-mg-4 mt-50">
                <div class="department-list">
                    <div class="header-list">
                        <h4>Administration</h4>
                    </div>
                    <div class="content-detail">
                        <ul>
                            <li><a href="#">The Chairman</a></li>
                            <li><a href="#">The Correspondent</a></li>
                            <li><a href="#">The Secretary</a></li>
                            <li><a href="#">The Principal</a></li>                              
                        </ul>
                    </div>
                </div>
                 <div class="department-list">
                    <div class="header-list">
                        <h4>Departments</h4>
                    </div>
                    <div class="content-detail">
                        <ul>
                             <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Automobile Engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Civil Engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Computer Applications</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Computer Science &amp; engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electrical & Electronics Engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electronics & Communication Engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electronics and Instrumentation Engineering</a></li>
                        </ul>
                    </div>
                </div>
           </div>

        </div> <!-- row -->
        
    </div> <!-- container -->
</div>