<div id="about-page" class="pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title mt-50">                        
                    <h5>Faculty &amp; Staff </h5>
                </div> <!-- section title -->
                <div class="about-cont" [innerHTML]="data?.content">
                        
                </div>
            </div> <!-- about cont -->
          <div class="col-mg-4 mt-50">
                <div class="department-list">
                    <div class="header-list">
                        <h4>Administration</h4>
                    </div>
                    <div class="content-detail">
                        <ul>
                            <li><a href="#">The Chairman</a></li>
                            <li><a href="#">The Correspondent</a></li>
                            <li><a href="#">The Secretary</a></li>
                            <li><a href="#">The Principal</a></li>                              
                        </ul>
                    </div>
                </div>
                 <div class="department-list">
                    <div class="header-list">
                        <h4>Departments</h4>
                    </div>
                    <div class="content-detail">
                        <ul>
                             <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Automobile Engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Civil Engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Computer Applications</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Computer Science &amp; engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electrical & Electronics Engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electronics & Communication Engineering</a></li>
                            <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electronics and Instrumentation Engineering</a></li>
                        </ul>
                    </div>
                </div>
           </div>

        </div> <!-- row -->
        
    </div> <!-- container -->
</div>