<div id="about-page" class="pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title mt-50">                        
                    <h5>Faculty &amp; Staff </h5>
                </div> <!-- section title -->
                <div class="about-cont" [innerHTML]="data?.content">
                        
                </div>
            </div> <!-- about cont -->
          <div class="col-mg-4 mt-50">
                <div class="department-list">
                    <div class="header-list">
                        <h4>Administration</h4>
                    </div>
                    <div class="content-detail">
                        <ul>
                            <li><a [routerLink]="['/management']">Management</a></li>
                            <li><a [routerLink]="['/scholarships']">Scholarships</a></li>
                            <li><a [routerLink]="['examination-view']">Examinations</a></li>
                            <li><a [routerLink]="['about-placement']">Placements</a></li>                       
                        </ul>
                    </div>
                </div>
                 <div class="department-list">
                    <div class="header-list">
                        <h4>Departments</h4>
                    </div>
                    <div class="content-detail">
                        <ul>
                            <div *ngFor="let data of departmentlist">
                                <li><a [routerLink]="['/department-view', data._id]">{{data?.name}}</a></li>
                            </div>                           
                        </ul>
                    </div>
                </div>
           </div>

        </div> <!-- row -->
        
    </div> <!-- container -->
</div>