<div id="about-page" class="pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title mt-50">                        
                    <h5>Student Facilities </h5>
                </div> <!-- section title -->
                <div class="about-cont" [innerHTML]="data?.content">
                    <!-- <p>The Exam Cell and office of Controller of Examinations is an all in one setup. This office is responsible for the following activities of which some are unique to autonomous and some are common to autonomous and affiliated systems in vogue.</p>
                    <p><i class="fa fa-graduation-cap" aria-hidden="true"></i> Organization and Conduct of</p>
                    <ul class="exam-rules">
                        <li>Internal assessment of all courses of all programmes.</li>
                        <li>End Semester Examinations (ESE) – theory and practical.</li>
                        <li>Valuation of ESE theory scripts.</li>
                        <li>Meetings on examination related matters.</li>
                    </ul>                        
                    <p class="exam-content"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Processing of results, announcement of results and printing of grade sheets.</p>
                    <p class="exam-content"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Recommendation for award of degree from Anna University.</p>
                    <p class="exam-content"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Addressing grievances of administration, faculty, staff and students on examination related issues.</p>
                    <p class="exam-content"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Planning and execution of all developmental activities of this office.</p>                         -->
                </div>
            </div> <!-- about cont -->
            <div class="col-mg-4 mt-50">                                                             
              <div class="department-list">
                <div class="header-list">
                    <h4>Departments</h4>
                </div>
                <div class="content-detail">
                    <ul>
                          <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Automobile Engineering</a></li>
                        <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Civil Engineering</a></li>
                        <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Computer Applications</a></li>
                        <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Computer Science &amp; engineering</a></li>
                        <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electrical & Electronics Engineering</a></li>
                        <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electronics & Communication Engineering</a></li>
                        <li><i class="fa fa-angle-double-right"></i> <a href="department-view.html">Electronics and Instrumentation Engineering</a></li>
                    </ul>
                </div>
              </div>
           </div>

        </div> <!-- row -->
      </div>
    </div> <!-- container -->