<div class="careers_section">
   <div class="container">
      <div class="row">
            <div class="col-lg-12">
               <div class="section-title mt-50"> 
                  <h4>Careers</h4>
                  <p>Thank you for taking an interest in the opportunities at the NPTC</p>
                  <p>The college prides itself on embracing diversity and promoting equality and welcomes applications from all the eligible candidates.</p>
                  <p>If you are looking to work for a highly respected college that offers great opportunities and benefits for staff, please apply to us</p>
               </div>
               <h4>Current Openings</h4>
               <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Designation : Professor
                      </mat-panel-title>              
                    </mat-expansion-panel-header>                                              
                     Exp : +2 years of Experience
                     Area of Specialization : Machine Drawing, Manufacturing, RDBMS
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                      (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Designation : Asst Lecterure
                      </mat-panel-title>                                                    
                    </mat-expansion-panel-header>
                     Exp : +2 years of Experience
                     Area of Specialization : Machine Drawing, Manufacturing, RDBMS
                  </mat-expansion-panel>
                 
              </mat-accordion>  
            </div>
         </div>
   </div>
</div>
