<div class="careers_section">
   <div class="container">
      <div class="row">
            <div class="col-lg-12">
               <div class="section-title mt-50"> 
                  <h4>Careers</h4>
                  <div [innerHTML]="careercontent?.career?.content"></div>
               </div>
               <h4>Current Openings</h4>
               <mat-accordion>
                  <div *ngFor="let data of careercontent?.careerData">                  
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Designation : {{data?.name}}
                      </mat-panel-title>              
                    </mat-expansion-panel-header>                                              
                    <p [innerHTML]="data?.content"></p>
                  </mat-expansion-panel>
                  </div>
                 
              </mat-accordion>  
            </div>
         </div>
   </div>
</div>
