<div id="about-page" class="pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title mt-50">                        
                    <h5>Academics - Eligibility</h5>
                </div> <!-- section title -->
                <div class="about-cont pt-20">
                   <h4> ADMISSION PROCEDURE 2018-19 </h4>
                    <p>Programme Eligibility Selection for Admission <br />
                     As per Government of Tamilnadu Norms and Single Window Counseling by Anna University, Chennai, as per their norms.<br />                   
                    The minimum eligibility marks for various categories are listed below:</p>
                    
                    <h5 class="pt-30">HSC (Academic) & HSC (Vocational)</h5>
                    <table class="table table-bordered mt-40">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Community</th>
                                <th>A Pass with Minimum average marks in Mathematics, Physics and Chemistry put together</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>General</td>
                                <td>50%</td>
                            </tr>
                             <tr>
                                <td>2</td>
                                <td>Backward Clas including Backward Class Muslims</td>
                                <td>45%</td>
                            </tr>
                             <tr>
                                <td>3</td>
                                <td>MBC & DNC</td>
                                <td>40%</td>
                            </tr>
                             <tr>
                                <td>4</td>
                                <td>SC/SCA/ST</td>
                                <td>40%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- about cont -->
           
        </div> <!-- row -->
        
    </div> <!-- container -->
</div>