<div id="about-page" class="pt-10 pb-60">
  <div class="container">
      <div class="row">
          <div class="col-lg-7">
              <div class="section-title mt-50">
                  <h5>About us</h5>
                  <h2>Welcome to NPTC </h2>
              </div> <!-- section title -->
              <div class="about-cont">
                  <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris. <br> <br> auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>
              </div>
          </div> <!-- about cont -->
          <div class="col-lg-5">
              <div class="about-image mt-50">
                  <img src="../../../../assets/images/slider/event1.jpg" alt="About">
              </div>  <!-- about image -->
          </div> 
      </div> <!-- row -->
      <div class="about-items pt-60">
          <div class="row justify-content-center">                    
              <div class="col-lg-6 col-md-6 col-sm-10">
                  <div class="about-singel-items mt-30">
                     
                      <h4>Our Mission</h4>
                      <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit sollicitudirem quibibendum auci</p>
                      <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit sollicitudirem quibibendum auci</p>
                  </div> <!-- about singel -->
              </div>
              <div class="col-lg-6 col-md-6 col-sm-10">
                  <div class="about-singel-items mt-30">
                     
                      <h4>Our Vision</h4>
                      <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit sollicitudirem quibibendum auci Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit sollicitudirem quibibendum auci</p>
                  </div> <!-- about singel -->
              </div>
          </div> <!-- row -->
      </div> <!-- about items -->
  </div> <!-- container -->
</div>

  
<div id="abttabs" class="bg_cover pt-15 pb-25">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <mat-tab-group>
                  <mat-tab label="About Management"> 
                      <div class="col-lg-12">
                          <div class="section-title mt-20">
                              <h5>Nachimuthu Polytechnic College</h5>
                              <h2>The Management </h2>
                          </div> <!-- section title -->
                          <div class="about-cont">
                              <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris. auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>
                              <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris.auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>
                          </div>
                      </div> 
                  </mat-tab>
                  <mat-tab label="About Administration">
                      <div class="col-lg-12">
                        <div class="col-lg-7" style="float: left;">
                            <div class="section-title mt-30">
                                <h2>About Administration</h2>                                
                            </div> <!-- section title -->
                            <div class="about-cont">
                                <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris. <br> <br> auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>
                                <ul>
                                <li>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit.</li>
                                </ul>
                            </div>
                        </div> 
                        <div class="col-lg-5" style="float: left;">
                            <div class="about-image mt-50">
                                <img src="../../../../assets/images/slider/event1.jpg" alt="About">
                            </div>  <!-- about imag -->
                        </div> 
                      </div>
                  </mat-tab>
                  <mat-tab label="NIA Family">
                      <div class="col-lg-12">
                          <div class="col-lg-7" style="float: left;">
                              <div class="section-title mt-30">                               
                                  <h2>NIA Family </h2>
                              </div> <!-- section title -->
                              <div class="about-cont">
                                  <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris. <br> <br> auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>
                              </div>
                          </div> <!-- about cont -->
                          <div class="col-lg-5" style="float: left;">
                              <div class="about-image mt-50">
                                  <img src="../../../../assets/images/slider/event1.jpg" alt="About">
                              </div>  <!-- about imag -->
                          </div> 
                      </div> <!-- row -->
                  </mat-tab>
                  <mat-tab label="Council"> 
                          <div class="col-lg-12">
                              <div class="section-title mt-30">                        
                                  <h2>Council </h2>
                              </div> <!-- section title -->
                              <div class="about-cont">
                                  <p> The invaluable support and patronage of our chairman and our Vice-chairman, the forward looking and hard work of our Secretary, Principal and a committed team of faculty have made institute to attain a unique status in the international level. The standard of education imparted to our students is of world class. Our faculty and facilities are modern. The joint venture with International Universities in Australia and Canada have created ample opportunities for our students to get prestigious placements in both national and multinational companies in India and abroad.</p>
                              </div>
                          </div> <!-- about cont -->    
                  </mat-tab>
              </mat-tab-group>
          </div>
      </div> <!-- row -->           
     
  </div> <!-- container -->
</div>
<div id="patnar-logo" class="pt-40 pb-30">
    <div class="container">
        <h3>Our Recruiters</h3>
        <carousel>
            <slide>
                <div class="col-lg-12">
                    <div class="col-lg-3" style="float:left;">
                        <img src="../../../../assets/images/recruiters/1.png" alt="first slide" style="height: 60px !important;width:200px !important;">
                    </div>
                    <div class="col-lg-3" style="float:left;">
                        <img src="../../../../assets/images/recruiters/2.png" alt="first slide" style="height: 60px !important;width:200px !important;">
                    </div>
                    <div class="col-lg-3" style="float:left;">
                        <img src="../../../../assets/images/recruiters/3.jpg" alt="first slide" style="height: 60px !important;width:200px !important;">
                    </div>
                    <div class="col-lg-3" style="float:left;">
                        <img src="../../../../assets/images/recruiters/4.jpg" alt="first slide" style="height: 60px !important;width:200px !important;">
                    </div>
                    
                </div>
            </slide>
            <slide>                
                <div class="col-lg-3" style="float:left;">
                    <img src="../../../../assets/images/recruiters/5.png" alt="first slide" style="height: 60px !important;width:200px !important;">
                </div>
                <div class="col-lg-3" style="float:left;">
                    <img src="../../../../assets/images/recruiters/6.jpg" alt="first slide" style="height: 60px !important;width:1200px !important;">
                </div>
                <div class="col-lg-3" style="float:left;">
                    <img src="../../../../assets/images/recruiters/7.jpg" alt="first slide" style="height: 60px !important;width:200px !important;">
                </div>
                <div class="col-lg-3" style="float:left;">
                    <img src="../../../../assets/images/recruiters/8.png" alt="first slide" style="height: 60px !important;width:200px !important;">
                </div>               
            </slide>
        </carousel>
    </div> <!-- container -->
</div>