d-md-block 
{
    position: absolute;
    top:100px;
    left: 10px;
    color:#fff;
}
.carousel-caption
{
    text-align: left;
    position: absolute;
    left:15%;
    top:100px;
    
}
.carousel-caption h3{
    font-size: 33px !important;
    color:#4454a7 !important;
    font-weight: normal;
    background: #ffffff;
    padding: 10px 15px;
    margin-bottom:0px;
}
.carousel-caption p{
    font-size: 20px !important;
    color:#4454a7 !important;
    background: #ffffff;
    opacity: 0.8;
    padding:30px 50px;
}
.carousel-caption
{
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    transition: opacity 3s ease;
}
.carousel-item img{
    /* background: #000 !important; */
    height: 700px !important;
    display: block !important; 
    width: 100% !important;
}
.carousel-indicators
{
    display: none;
}
.carousel-item .active 
{
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 3s ease;
    -moz-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    transition: opacity 3s ease;
}
.carousel-control-next, .carousel-control-prev
{
    width:5% !important;
}

.link-button {
   background-color: transparent;
   color: #ffffff;
}
.link-button:hover {
   background-color: #ffffff;
   color: #AB254C;
}

.fixed-background {
   background-image: url('../../../../assets/images/background_1.jpg');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   min-height: 65vh;
   padding-top: 25vh;
   padding-bottom: 50px;
}

.content_1, .content_2, .content_3, .content_4 {
   border: 2px solid #ffffff;
   padding: 15%;
   text-align: center;
   margin-top: 60px;
   opacity: 0.9;
   background-color: #ffffff;
   -webkit-transition: background-color 0.5s ease-out;
   -moz-transition: background-color 0.5s ease-out;
   -o-transition: background-color 0.5s ease-out;
}
.content_1 {
   color: #AB254C;
   -webkit-transition: color 0.5s ease-out;
   -moz-transition: color 0.5s ease-out;
   -o-transition: color 0.5s ease-out;
}
.content_2 {
   color: #923075;
   -webkit-transition: color 0.5s ease-out;
   -moz-transition: color 0.5s ease-out;
   -o-transition: color 0.5s ease-out;
}
.content_3 {
   color: #60398C;
   -webkit-transition: color 0.5s ease-out;
   -moz-transition: color 0.5s ease-out;
   -o-transition: color 0.5s ease-out;
}
.content_4 {
   color: #323F9F;
   -webkit-transition: color 0.5s ease-out;
   -moz-transition: color 0.5s ease-out;
   -o-transition: color 0.5s ease-out;
}
.content_1 i, .content_2 i, .content_3 i, .content_4 i {
   font-size: 65px;
}
.content_1:hover {
   background-color: #AB254C;
   color: #ffffff;
}

.content_2:hover {
   background-color: #923075;
   color: #ffffff;
}

.content_3:hover {
   background-color: #60398C;
   color: #ffffff;
}

.content_4:hover {
   background-color: #323F9F;
   color: #ffffff;
}