
 <!-- <div id="slider-part" class="slider-active">
    <div class="single-slider bg_cover pt-150" style="background-image: url(../../../../../../assets/images/slider/event1.jpg)" data-overlay="4" style="height:700px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">Welcome To Nachimuthu Polytechnic College</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">Donec vitae sapien ut libearo venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt  Sed fringilla mauri amet nibh.</p>
                       
                    </div>
                </div>
            </div> 
        </div> 
    </div> 
    
    <div class="single-slider bg_cover pt-150" style="background-image: url(assets/images/slider/event2.jpg)" data-overlay="4" style="height:700px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">Annual Convocation 2017</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">Donec vitae sapien ut libearo venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt  Sed fringilla mauri amet nibh.</p>
                        
                    </div>
                </div>
            </div> 
        </div> 
    </div> 
    
    <div class="single-slider bg_cover pt-150" style="background-image: url(assets/images/slider/event4.jpg)" data-overlay="4" style="height:700px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">NIA Celebration</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">Donec vitae sapien ut libearo venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt  Sed fringilla mauri amet nibh.</p>
                    </div>
                </div>
            </div> 
        </div> 
    </div> 
</div> -->

<carousel>
    <slide>
      <img src="../../../../assets/images/slider/event1.jpg" alt="first slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>WELCOME TO NACHIMUTHU POLYTECHNIC COLLEGE</h3>
        <p>Donec vitae sapien ut libearo venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt  Sed fringilla mauri amet nibh.</p>
      </div>
    </slide>
    <slide>
      <img src="../../../../assets/images/slider/event5.jpeg" alt="second slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Annual Convocation 2017</h3>
        <p>Donec vitae sapien ut libearo venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt  Sed fringilla mauri amet nibh.</p>
      </div>
    </slide>
    <slide>
      <img src="../../../../assets/images/slider/event4.jpg" alt="third slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>NIA Celebration</h3>
        <p>Donec vitae sapien ut libearo venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt  Sed fringilla mauri amet nibh.</p>
      </div>
    </slide>
    <slide>
        <img src="../../../../assets/images/slider/event6.jpg" alt="third slide">
        <div class="carousel-caption d-none d-md-block">
          <h3>NIA Celebration</h3>
          <p>Donec vitae sapien ut libearo venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt  Sed fringilla mauri amet nibh.</p>
        </div>
      </slide>
</carousel>
  <div id="category-part">
    <div class="container">
        <div class="sticky-link">                
            <a href="#" data-toggle="modal" data-target="#myModal">Admission Enquiry</a>
            <!-- <a href="#">Admission Enquiry</a> -->
        </div>
        <div class="category pt-20 pb-50">
            <div class="row">
                <div class="col-lg-4">
                    <div class="category-text pt-40">
                        <h2>NPC - Campus Life</h2>
                        <p>To Provide State of Art Technical Education with Skill Oriented Training to the Youth to Meet the Industrial Requirement of the Region. </p>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">                   
                    <carousel>
                        <slide>
                            <div class="col-lg-12">
                                <div class="col-lg-4" style="float:left;">
                                    <a href="#">
                                        <span class="singel-category text-center color-1" style="width:160px !important;">
                                            <span class="icon">
                                                <img src="../../../../assets/images/all-icon/building1.png" alt="Infrastructure" style="width:60px !important;height: 60px !important;">
                                            </span>
                                            <span class="cont">
                                                <span>Infrastructure</span>
                                            </span>
                                        </span> <!-- singel category -->
                                    </a>
                                </div>
                                <div class="col-lg-4" style="float:left;">
                                    <a href="#">
                                        <span class="singel-category text-center color-2" style="width:160px !important;">
                                            <span class="icon">
                                                <img src="../../../../assets/images/all-icon/lab1.png" alt="Laboratories" style="width:60px !important;height: 60px !important;">
                                            </span>
                                            <span class="cont">
                                                <span>Laboratories</span>
                                            </span>
                                        </span> <!-- singel category -->
                                    </a>
                                </div>                                  
                            </div>   
                            <div class="col-lg-4" style="float:left;">
                                <a href="#">
                                    <span class="singel-category text-center color-3" style="width:160px !important;">
                                        <span class="icon">
                                            <img src="../../../../assets/images/all-icon/library1.png" alt="Infrastructure" style="width:60px !important;height: 60px !important;">
                                        </span>
                                        <span class="cont">
                                            <span>Library</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>  
                        </slide>   
                        <slide>
                            <div class="col-lg-12">                                
                                <div class="col-lg-4" style="float:left;">
                                    <a href="#">
                                        <span class="singel-category text-center color-2" style="width:160px !important;">
                                            <span class="icon">
                                                <img src="../../../../assets/images/all-icon/building1.png" alt="Laboratories" style="width:60px !important;height: 60px !important;">
                                            </span>
                                            <span class="cont">
                                                <span>Hostel</span>
                                            </span>
                                        </span> 
                                    </a>
                                </div>  
                                <div class="col-lg-4" style="float:left;">
                                    <a href="#">
                                        <span class="singel-category text-center color-3" style="width:160px !important;">
                                            <span class="icon">
                                                <img src="../../../../assets/images/all-icon/library1.png" alt="Infrastructure" style="width:60px !important;height: 60px !important;">
                                            </span>
                                            <span class="cont">
                                                <span>Library</span>
                                            </span>
                                        </span> <!-- singel category -->
                                    </a>
                                </div>
                                <div class="col-lg-4" style="float:left;">
                                    <a href="#">
                                        <span class="singel-category text-center color-1" style="width:160px !important;">
                                            <span class="icon">
                                                <img src="../../../../assets/images/all-icon/lab1.png" alt="Infrastructure" style="width:60px !important;height: 60px !important;">
                                            </span>
                                            <span class="cont">
                                                <span>Laboratories</span>
                                            </span>
                                        </span> <!-- singel category -->
                                    </a>
                                </div>                                
                            </div>     
                        </slide>                     
                        
                    </carousel>
                </div> <!-- row -->
            </div> <!-- category -->
        </div> <!-- container -->
    </div>
<div id="about-part" class="pt-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title mt-50">
                    <h5>Vision &amp; Mission</h5>
                    <h2>Welcome to NPC </h2>
                </div> <!-- section title -->
                <div class="about-cont">
                    <p>To Provide State of Art Technical Education with Skill Oriented Training to the Youth to Meet the Industrial Requirement of the Region. To offer high quality,contemporary education at the diploma level and thereby enrich the technical capabilities of the rural people and the nation.To upgrade regularly ,the facility and the competencies of faculty and staff so that they contribute all-rounded development of students to become good citizens.To develop students as good diploma Engineers/Technicians and Entrepreneurs useful to society.</p>
                    <a href="about.html" class="main-btn mt-55">View More</a>
                </div>
            </div> <!-- about cont -->
            <div class="col-lg-6">
                <div class="about-event mt-50">
                    <div class="event-title">
                        <h3>Upcoming events</h3>
                    </div> <!-- event title -->
                    <ul>
                        <li>
                            <div class="singel-event">
                                <span><i class="fa fa-calendar"></i> 2 December 2018</span>
                                <a href="event-view.html"><h4>Annual Convocation 2018</h4></a>
                                <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>
                                <span><i class="fa fa-map-marker"></i> NPC Auditorim</span>
                            </div>
                        </li>
                        <li>
                            <div class="singel-event">
                                <span><i class="fa fa-calendar"></i> 2 December 2018</span>
                                <a href="event-view.html"><h4>NIA Family Celebration</h4></a>
                                <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>
                                <span><i class="fa fa-map-marker"></i> NPC Auditorim</span>
                            </div>
                        </li>
                        <li>
                            <div class="singel-event">
                                <span><i class="fa fa-calendar"></i> 2 December 2018</span>
                                <a href="event-view.html"><h4>EnvironmentConference</h4></a>
                                <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>
                                <span><i class="fa fa-map-marker"></i> NPC Auditorim</span>
                            </div>
                        </li>
                    </ul> 
                </div> <!-- about event -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-bg">
        <img src="../../../../assets/images/about/abt1.jpg" alt="About">
    </div>
</div>

<div id="apply-aprt" class="pb-30">
    <div class="container">
        <div class="apply">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="apply-cont apply-color-1">
                        <h3>Admission Form 2019</h3>
                        <p>Gravida nibh vel velit auctor aliquetn sollicitudirem sem quibibendum auci elit cons equat ipsutis sem nibh id elituis sed odio sit amet nibh vulputate cursus equat ipsutis.</p>
                        <a href="#" class="main-btn"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
                    </div> <!-- apply cont -->
                </div>
                <div class="col-lg-6">
                    <div class="apply-cont apply-color-2">
                        <h3>Apply for scholarship</h3>
                        <p>Gravida nibh vel velit auctor aliquetn sollicitudirem sem quibibendum auci elit cons equat ipsutis sem nibh id elituis sed odio sit amet nibh vulputate cursus equat ipsutis.</p>
                        <a href="#" class="main-btn">Apply Now</a>
                    </div> <!-- apply cont -->
                </div> 
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<div id="teachers-part" class="pt-40 pb-50">
      <div class="container">
          <div class="row">
              <div class="col-lg-5">
                  <div class="section-title mt-50">
                      <!-- <h5>Featured Teachers</h5> -->
                      <h2>Council</h2>
                  </div> <!-- section title -->
                  <div class="teachers-cont">
                      <!-- <img src="images/about/mahalingam1.jpg" alt="Dr.N.Mahalingam"> -->
                      <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris. <br> <br> auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>
                      <a href="about-management.html" class="main-btn mt-55">View More</a>
                  </div> <!-- teachers cont -->
              </div>
              <div class="col-lg-7">
                  <div class="teachers mt-20">
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="singel-teachers mt-30 text-center">
                                  <div class="image">
                                      <img src="../../../../assets/images/about/mahalingam1.jpg" alt="Dr.N.Mahalingam">
                                  </div>
                                  <div class="cont">
                                      <h6>Chairman, Emreitusm</h6>
                                      <span>Arutchelvar Dr. N. Mahalingam, B.Sc., F.I.E.,</span>
                                  </div>
                              </div> <!-- singel teachers -->
                          </div>
                          <div class="col-sm-6">
                              <div class="singel-teachers mt-30 text-center">
                                  <div class="image">
                                      <img src="../../../../assets/images/about/chairman.jpg" alt="Teachers">
                                  </div>
                                  <div class="cont">
                                      <h6>Chairman</h6>
                                      <span>Dr. M. Manickam. M.Sc,MBA.,</span>
                                  </div>
                              </div> <!-- singel teachers -->
                          </div>
                          <div class="col-sm-4">
                              <div class="singel-teachers mt-110 text-center">
                                  <div class="image">
                                      <img src="../../../../assets/images/about/corres.jpg" alt="Teachers">
                                  </div>
                                  <div class="cont">
                                     <h6>Correspondent</h6>
                                      <span>Shri. M. Harihara Sudhan. B.E., MS.</span>
                                  </div>
                              </div> <!-- singel teachers -->
                          </div>
                          <div class="col-sm-4">
                              <div class="singel-teachers mt-110 text-center">
                                  <div class="image">
                                      <img src="../../../../assets/images/about/secretary.jpg" alt="Teachers">
                                  </div>
                                  <div class="cont">
                                      <h6>Secretary</h6>
                                      <span>Dr. C. Ramaswamy., M.E., Ph.D., F.I.V.</span>
                                  </div>
                              </div> <!-- singel teachers -->
                          </div>
                           <div class="col-sm-4">
                              <div class="singel-teachers mt-110 text-center">
                                  <div class="image">
                                      <img src="../../../../assets/images/about/principal.png" alt="Teachers">
                                  </div>
                                  <div class="cont">
                                      <h6>Principal In- Charge</h6>
                                      <span>Mr. R.Manivannan., M.E.</span>
                                  </div>
                              </div> <!-- singel teachers -->
                          </div>
                      </div> <!-- row -->
                  </div> <!-- teachers -->
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </div>




<div id="video-feature" class="bg_cover pt-30 pb-50" style="background-image: url(../../../../../../assets/images/slider_1.jpg)">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-last order-lg-first">
                <div class="video text-lg-left text-center pt-50">
                </div> <!-- row -->
            </div>
            <div class="col-lg-5 offset-lg-1 order-first order-lg-last">
                <div class="feature pt-50">
                    <div class="feature-title">
                        <h3>Our Facilities</h3>
                    </div>
                    <ul>
                        <li>
                            <div class="singel-feature">
                                <div class="icon">
                                <img src="../../../../assets/images/all-icon/building1.png" alt="Hostel">
                                </div>
                                <div class="cont">
                                    <h4>Seperate Hostel</h4>
                                    <p>Gravida nibh vel velit auctor aliquetn auci elit cons solliazcitudirem sem quibibendum sem nibhutis.</p>
                                </div>
                            </div> <!-- singel feature -->
                        </li>
                        <li>
                            <div class="singel-feature">
                                <div class="icon">
                                    <img src="../../../../assets/images/all-icon/library1.png" alt="Library">
                                </div>
                                <div class="cont">
                                    <h4>Library</h4>
                                    <p>Gravida nibh vel velit auctor aliquetn auci elit cons solliazcitudirem sem quibibendum sem nibhutis.</p>
                                </div>
                            </div> <!-- singel feature -->
                        </li>
                        <li>
                            <div class="singel-feature">
                                <div class="icon">
                                    <img src="../../../../assets/images/all-icon/lab1.png" alt="Laboratories">
                                </div>
                                <div class="cont">
                                    <h4>Laboratories</h4>
                                    <p>Gravida nibh vel velit auctor aliquetn auci elit cons solliazcitudirem sem quibibendum sem nibhutis.</p>
                                </div>
                            </div> <!-- singel feature -->
                        </li>
                    </ul>
                </div> <!-- feature -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="feature-bg"></div> <!-- feature bg -->
</div>
<div id="course-part" class="pt-45 pb-70 gray-bg">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="section-title pb-45">
                      <h5>Our courses</h5>
                      <h2>Available courses </h2>
                  </div> <!-- section title -->
              </div>
          </div> <!-- row -->
          <div class="row course-slied mt-30">
              <carousel>
                    <div *ngFor="let info of deptArray">  
                        <slide>
                            <div class="col-lg-12">
                                <div class="col-lg-3" style="float:left;" *ngFor="let data of info">
                                    <div class="singel-course">
                                        <div class="thum">
                                            <div class="image">
                                                <div class="testimonial-thum" style="position: relative;">
                                                    <img src="../../../../assets/images/course/automobile.png" alt="first slide" style="height: 180px !important;">                                            
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cont">                           
                                            <a [routerLink]="['/department-view', data._id]"><h4>{{data?.name}}</h4></a>
                                            <div class="course-teacher">                               
                                            </div>
                                        </div>
                                    </div>                                
                                </div>                            
                            </div>
                        </slide>  
                    </div>                                     
              </carousel>                                  
          </div> 
      </div> <!-- container -->
  </div>
<!-- 
<div id="publication-part" class="pt-25 pb-60 gray-bg">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-6 col-md-8 col-sm-7">
                <div class="section-title pb-60">                        
                    <h2>Events </h2>
                </div> 
            </div>
            <div class="col-lg-6 col-md-4 col-sm-5">
                <div class="products-btn text-right pb-60">
                    <a href="events.html" class="main-btn">View All Events</a>
                </div> 
            </div>
        </div> 
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="singel-publication mt-30">
                    <div class="image">
                        <img src="../../../../assets/images/events/event1.jpg" alt="Event">
                       
                    </div>
                    <div class="cont">
                        <div class="name">
                            <a href="event-view.html"><h6>NIA Celebration </h6></a>
                            <span>20 May, 2018</span>
                        </div>
                        <div class="button text-right">
                            <a href="event-view.html" class="main-btn">View Event</a>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="singel-publication mt-30">
                    <div class="image">
                        <img src="../../../../assets/images/events/event2.jpg" alt="Event">
                        
                    </div>
                    <div class="cont">
                        <div class="name">
                             <a href="event-view.html"><h6>NIA Celebration </h6></a>
                            <span>20 May, 2018</span>
                        </div>
                        <div class="button text-right">
                            <a href="event-view.html" class="main-btn">View Event</a>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="singel-publication mt-30">
                    <div class="image">
                        <img src="../../../../assets/images/events/event3.jpg" alt="Event">
                        
                    </div>
                    <div class="cont">
                        <div class="name">
                             <a href="event-view.html"><h6>Chairman Meeting </h6></a>
                            <span>20 May, 2018</span>
                        </div>
                        <div class="button text-right">
                            <a href="event-view.html" class="main-btn">View Event</a>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="singel-publication mt-30">
                    <div class="image">
                        <img src="../../../../assets/images/events/event4.jpg" alt="Event">
                        
                    </div>
                    <div class="cont">
                        <div class="name">
                             <a href="event-view.html"><h6>Annual day Celebration </h6></a>
                            <span>20 May, 2018</span>
                        </div>
                        <div class="button text-right">
                            <a href="event-view.html" class="main-btn">View Event</a>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div> 
</div> -->

<!-- 
<div id="testimonial" class="bg_cover pt-45 pb-25">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h3>Latest News</h3>                    
                </div> 
            </div>
        </div> 
        <div class="row mt-40">
            <carousel>
                <slide>
                    <div class="col-lg-12">
                        <div class="col-lg-4" style="float:left;">
                            <div class="singel-testimonial">                            
                                <div class="testimonial-thum" style="position: relative;">
                                    <img src="../../../../assets/images/events/event1.jpg" alt="first slide" style="height: 150px !important;">
                                    <h3>NIA Family Celebration</h3> 
                                    <p>auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>                     
                                </div>
                            </div>                                
                        </div>
                        <div class="col-lg-4" style="float:left;">
                            <div class="singel-testimonial">                            
                                <div class="testimonial-thum" style="position: relative;">
                                    <img src="../../../../assets/images/events/event2.jpg" alt="first slide" style="height: 150px !important;">
                                    <h3>Pollachi North West Zone Meeting</h3> 
                                    <p>auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>                     
                                </div>
                            </div>                                
                        </div>
                        <div class="col-lg-4" style="float:left;">
                            <div class="singel-testimonial">                            
                                <div class="testimonial-thum" style="position: relative;">
                                    <img src="../../../../assets/images/events/event3.jpg" alt="first slide" style="height: 150px !important;">
                                    <h3>Diamond Jubilee Celebration 2017</h3> 
                                    <p>auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>                     
                                </div>
                            </div>                                
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="col-lg-12">
                        <div class="col-lg-4" style="float:left;">
                            <div class="singel-testimonial">                            
                                <div class="testimonial-thum" style="position: relative;">
                                    <img src="../../../../assets/images/events/event2.jpg" alt="first slide" style="height: 150px !important;">
                                    <h3>Diamond Jubliee Discussion Meeting</h3> 
                                    <p>auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>                     
                                </div>
                            </div>                                
                        </div>
                        <div class="col-lg-4" style="float:left;">
                            <div class="singel-testimonial">                            
                                <div class="testimonial-thum" style="position: relative;">
                                    <img src="../../../../assets/images/events/event3.jpg" alt="first slide" style="height: 150px !important;">
                                    <h3>Pollachi North West Zone Meeting</h3> 
                                    <p>auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>                     
                                </div>
                            </div>                                
                        </div>
                        <div class="col-lg-4" style="float:left;">
                            <div class="singel-testimonial">                            
                                <div class="testimonial-thum" style="position: relative;">
                                    <img src="../../../../assets/images/events/event1.jpg" alt="first slide" style="height: 150px !important;">
                                    <h3>Diamond Jubilee Celebration 2017</h3> 
                                    <p>auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>                     
                                </div>
                            </div>                                
                        </div>
                    </div>
                </slide>
            </carousel>
        </div> 
    </div> 
</div> -->
    

<div id="patnar-logo" class="pt-40 pb-30">
    <div class="container">
        <h3>Our Recruiters</h3>
        <carousel>
            <slide>
                <div class="col-lg-12">
                    <div class="col-lg-3" style="float:left;">
                        <img src="../../../../assets/images/recruiters/1.png" alt="first slide" style="height: 60px !important;width:200px !important;">
                    </div>
                    <div class="col-lg-3" style="float:left;">
                        <img src="../../../../assets/images/recruiters/2.png" alt="first slide" style="height: 60px !important;width:200px !important;">
                    </div>
                    <div class="col-lg-3" style="float:left;">
                        <img src="../../../../assets/images/recruiters/3.jpg" alt="first slide" style="height: 60px !important;width:200px !important;">
                    </div>
                    <div class="col-lg-3" style="float:left;">
                        <img src="../../../../assets/images/recruiters/4.jpg" alt="first slide" style="height: 60px !important;width:200px !important;">
                    </div>
                    
                </div>
            </slide>
            <slide>                
                <div class="col-lg-3" style="float:left;">
                    <img src="../../../../assets/images/recruiters/5.png" alt="first slide" style="height: 60px !important;width:200px !important;">
                </div>
                <div class="col-lg-3" style="float:left;">
                    <img src="../../../../assets/images/recruiters/6.jpg" alt="first slide" style="height: 60px !important;width:1200px !important;">
                </div>
                <div class="col-lg-3" style="float:left;">
                    <img src="../../../../assets/images/recruiters/7.jpg" alt="first slide" style="height: 60px !important;width:200px !important;">
                </div>
                <div class="col-lg-3" style="float:left;">
                    <img src="../../../../assets/images/recruiters/8.png" alt="first slide" style="height: 60px !important;width:200px !important;">
                </div>               
            </slide>
        </carousel>
    </div> <!-- container -->
</div> 

