<footer id="footer-part">
  <div class="footer-top pt-40 pb-70">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6">
                  <div class="footer-about mt-40">
                      <div class="logo">
                          <a href="index.html"><img src="../../../../assets/images/logo1.png" alt="NPC"></a>
                      </div>
                      <p>Gravida nibh vel velit auctor aliquetn quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate.</p>
                      <ul class="mt-20">
                          <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                  </div> <!-- footer about -->
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer-link mt-40">
                      <div class="footer-title pb-25">
                          <h6>Quick Links</h6>
                      </div>
                      <ul>
                          <li><a href="index.html"><i class="fa fa-angle-right"></i>Home</a></li>
                          <li><a href="about.html"><i class="fa fa-angle-right"></i>About us</a></li>
                          <li><a href="courses.html"><i class="fa fa-angle-right"></i>Courses</a></li>
                          <li><a href="news.html"><i class="fa fa-angle-right"></i>News</a></li>
                          <li><a href="events.html"><i class="fa fa-angle-right"></i>Events</a></li>
                      </ul>
                      <ul>
                          <li><a href="gallery.html"><i class="fa fa-angle-right"></i>Gallery</a></li>
                          <li><a href="facilities.html"><i class="fa fa-angle-right"></i>Facilities</a></li>
                          <li><a href="student-admission.html"><i class="fa fa-angle-right"></i>Admissions</a></li>
                          <li><a href="placement.html"><i class="fa fa-angle-right"></i>Placements</a></li>
                          <li><a href="contact.html"><i class="fa fa-angle-right"></i>Contact</a></li>
                      </ul>
                  </div> <!-- footer link -->
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer-link support mt-40">
                      <div class="footer-title pb-25">
                          <h6>Courses Offered</h6>
                      </div>
                      <ul>
                          <li><a href="course-view.html"><i class="fa fa-angle-right"></i>Automobile Engineering</a></li>
                          <li><a href="course-view.html"><i class="fa fa-angle-right"></i>Electrical Engineering</a></li>
                          <li><a href="course-view.html"><i class="fa fa-angle-right"></i>Civil Engineering</a></li>
                          <li><a href="course-view.html"><i class="fa fa-angle-right"></i>Mechanical Engineering</a></li>
                          <li><a href="course-view.html"><i class="fa fa-angle-right"></i>Textile Technology</a></li>
                      </ul>
                  </div> <!-- support -->
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="footer-address mt-40">
                      <div class="footer-title pb-25">
                          <h6>Contact Us</h6>
                      </div>
                      <ul>
                          <li>
                              <div class="icon">
                                  <i class="fa fa-home"></i>
                              </div>
                              <div class="cont">
                                  <p> Nachimuthu Polytechnic College, <br />
                                  Udumalai Road, Pollachi - 642003, Tamil Nadu, India</p>
                              </div>
                          </li>
                          <li>
                              <div class="icon">
                                  <i class="fa fa-phone"></i>
                              </div>
                              <div class="cont">
                                  <p>91-4259-236030, 236040, 236050</p>
                              </div>
                          </li>
                          <li>
                              <div class="icon">
                                  <i class="fa fa-envelope-o"></i>
                              </div>
                              <div class="cont">
                                  <p>principal@nptc.ac.in</p>
                              </div>
                          </li>
                      </ul>
                  </div> <!-- footer address -->
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </div> <!-- footer top -->
  
  <div class="footer-copyright pt-10 pb-10">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="copyright text-md-left text-center">
                      <p>&copy; Copyrights 2019 Nachimuthu Polytechnic College All rights reserved. </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="copyright text-md-right text-center">
                      <p>Designed by <span>AASHI SOFTWARES PVT LTD</span> </p>
                  </div>
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </div> <!-- footer copyright -->
</footer>
