<div id="about-page" class="pt-10 pb-20">
  <div class="container">
      <div class="row">  
        <div class="about-items pt-60">
            <div class="row justify-content-center">                                 
               <div class="col-lg-6 col-md-6 col-sm-10">
                  <div class="about-singel-items mt-30">                        
                     <h4>Our Vision</h4>
                     <div [innerHTML]="visiondata?.content"></div>
                  </div> <!-- about singel -->
               </div>
               <div class="col-lg-6 col-md-6 col-sm-10">
                  <div class="about-singel-items mt-30">                        
                        <h4>Our Mission</h4>
                        <div [innerHTML]="missiondata?.content"></div>
                  </div> <!-- about singel -->
               </div>
            </div> <!-- row -->
        </div> <!-- about items -->
    </div>
  </div> <!-- container -->
</div>

  
<div id="abttabs" class="bg_cover pb-25">
  <div class="container">
      <div class="row">
        <h4>Management &amp; Administration</h4>
        <div [innerHTML]="managementdata?.content"></div>
      </div> <!-- row -->                
  </div> <!-- container -->
</div>