<div id="corses-singel" class="gray-bg">
   <carousel>
      <slide *ngFor="let image of aboutdata?.department?.departmentImageUrl; let i = index">
         <img src="{{image}}" alt="{{i}} slide">                  
      </slide>
   </carousel>
</div>
<div class="container-fluid">
  <div class="row" style="padding: 5%">
      
      <div id="boxscroll" class="col-md-9" style="height: 630px; overflow-y: auto">
            <mat-card>
                  <div id="about">
                        <div class="title" *ngIf="toShow === 'about'">
                              <h3>{{aboutdata?.department?.name}}</h3>
                        </div>  
                        <div id="about" *ngIf="toShow === 'about'">
                              <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>About Us</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.aboutUs">                                      
                                    </div>
                                 </div>
                              </div>
                        </div>   
                        <div id="peos" *ngIf="toShow === 'ppp'">
                              <tabset>
                                 <tab heading="PEOs" id="tab1">
                                    <h4>PEOs</h4>
                                    <div class="row">
                                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                          <div class="course-features" [innerHTML]="aboutdata?.department?.peo">                                       
                                          </div>
                                       </div>
                                    </div> 
                                 </tab>
                                 <tab heading="POs" id="tab1">
                                    <h4>POs</h4>
                                    <div class="row">
                                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                          <div class="course-features" [innerHTML]="aboutdata?.department?.po">                                       
                                          </div>
                                       </div>
                                    </div>
                                 </tab>
                                 <tab heading="PSOs" id="tab1">
                                    <h4>PSOs</h4>
                                    <div class="row">
                                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                          <div class="course-features" [innerHTML]="aboutdata?.department?.pso">                                       
                                          </div>
                                       </div>
                                    </div> 
                                 </tab>
                              </tabset>
                              <!-- <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>PEOs</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.peo">                                       
                                    </div>
                                 </div>
                              </div> 
                              <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>POs</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.po">                                       
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>PSOs</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.pso">                                       
                                    </div>
                                 </div>
                              </div>  -->
                        </div>
                        <div id="courses" *ngIf="toShow === 'course'">
                              <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Courses and Regulations</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.course">                                      
                                    </div>
                                    <mat-accordion>
                                       <div *ngFor="let data of aboutdata?.department?.semester;">
                                          <div> 
                                             <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                   <mat-panel-title>
                                                   {{data?.name}}
                                                   </mat-panel-title>              
                                                </mat-expansion-panel-header> 
                                                <div id="course-table">
                                                   <table style="width: 100%">
                                                      <thead>
                                                         <tr>
                                                            <th>S.no</th>
                                                            <th>course code</th>
                                                            <th >course name</th>
                                                         </tr>
                                                      </thead>
                                                      <tbody>
                                                         <tr *ngFor="let course of data?.semesterDetails; let i = index">
                                                            <td>{{i+1}}</td>
                                                            <td>{{course?.courseCode}}</td>
                                                            <td>{{course?.courseName}}</td>
                                                         </tr>
                                                      </tbody>
                                                   </table>                                    
                                                </div>
                                             </mat-expansion-panel>      
                                          </div>               
                                       </div>                        
                                    </mat-accordion>  

                                       <!-- <a href="{{aboutdata?.department?.courseFileUrl}}" target="_blank">click here to download
                                       <img src="../../../../assets/images/pdf-icon.png" /></a> -->
                                 </div>
                                 <br>
                                 <span *ngFor="let url of aboutdata?.department?.courseFileUrl">
                                    <button *ngIf="url" mat-stroked-button class="link-tag" style="width: 150px !important; margin-top: 10px; margin-left: 18px" (click)="download(url)"><i class="fa fa-file-pdf-o"></i> Download PDF</button>
                                 </span>
                              </div>                          
                        </div> 
                        <!-- <div id="faculty" *ngIf="toShow === 'faculty'">
                              <div *ngIf="aboutdata?.department?.faculty && aboutdata?.department?.faculty !== null && aboutdata?.department?.faculty !== ''" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Faculty</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.faculty">                                      
                                    </div>
                                 </div>
                              </div>                          
                        </div>  -->
                        <div id="faculty" *ngIf="toShow === 'faculty'">
                              <div *ngIf="facultyArray !== null" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Faculty</h4>
                                    <div *ngFor="let info of facultyArray">                  
                                             <div class="row">                                                       
                                                   <div class="col-lg-4 faculty-row" *ngFor="let data of info">
                                                      <div class="faculty parent child">
                                                            <p>{{data?.name}}</p>
                                                            <p>{{data?.designation}}</p>
                                                            <p>Experience : {{data?.experience}}</p>
                                                            <p>Date of Joining : {{data?.dateOfJoining | date: 'dd-MM-yyyy'}}</p>
                                                            <span id="bottomscroll" style="line-height: normal; overflow: auto;">
                                                               Area of Specialization : <br><p>{{data?.areaOfSpecialization}}</p>
                                                            </span>
                                                      </div>                                                            
                                                   </div>
                                                </div>
                                       </div>  
                                    <!-- <div class="course-features">
                                          <carousel>                                                                 
                                                                            
                                          </carousel> 
                                    </div> -->
                                 </div>
                              </div>                          
                        </div> 
                        <div id="valueadded" *ngIf="toShow === 'valueAddedCourse'">
                              <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="course-features">
                                             <h4>Value Added Courses </h4>
                                    </div>
                                    <mat-accordion>
                                          <mat-expansion-panel>
                                             <mat-expansion-panel-header>
                                             <mat-panel-title>
                                                Value Added Courses 
                                             </mat-panel-title>              
                                             </mat-expansion-panel-header>                                              
                                             <p [innerHTML]="aboutdata?.department?.valueAddedCourse"></p>
                                          </mat-expansion-panel>
                                          <mat-expansion-panel (opened)="panelOpenState = true"
                                                            (closed)="panelOpenState = false">
                                             <mat-expansion-panel-header>
                                             <mat-panel-title>
                                                One Credit Courses
                                             </mat-panel-title>                                                    
                                             </mat-expansion-panel-header>
                                             <p [innerHTML]="aboutdata?.department?.oneCreditedCourse"></p>                                               
                                          </mat-expansion-panel>                                           
                                    </mat-accordion>                                  
                                 </div>
                              </div>                          
                        </div> 
                        
                        <div id="student" *ngIf="toShow === 'student'">
                              <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Student</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.student">                                       
                                    </div>
                                 </div>
                              </div> 
                        </div>
                  
                        <div id="MOU" *ngIf="toShow === 'MOU'">
                              <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>MOU</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.MOU?.content">                                       
                                    </div>
                                 </div>
                              </div> 
                        </div>

                        <div id="CEP" *ngIf="toShow === 'CEP'">
                              <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>CEP</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.CEP?.content">                                       
                                    </div>
                                 </div>
                              </div> 
                        </div>

                        <div id="facilities" *ngIf="toShow === 'facilities'">
                              <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Facilities</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.facilities">                                       
                                    </div>
                                    <mat-accordion>
                                       <div *ngFor="let data of aboutdata?.department?.facilitiesDetails;">
                                          <div> 
                                             <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                   <mat-panel-title>
                                                   {{data?.name}}
                                                   </mat-panel-title>              
                                                </mat-expansion-panel-header> 
                                                <div id="course-table">
                                                   <div class="row">
                                                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                                      <img src="{{data?.imageUrl}}" style="height: 300px;"/>
                                                      </div>
                                                      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                                      <h5>{{data?.name}} &nbsp;<span *ngIf="data?.name !== null && data?.name !== ''">{{data?.name}}</span></h5>
                                                      <div class="about-cont" [innerHTML]="data?.content">
                                                      </div>
                                                      </div>
                                                   </div>                           
                                                </div>
                                             </mat-expansion-panel>      
                                          </div>               
                                       </div>                        
                                    </mat-accordion>  
                                 </div>
                              </div> 
                        </div>
                  
                        <div id="fdp" *ngIf="toShow === 'fdp'">
                           <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <h4>FDP</h4>
                                 <div class="course-features" [innerHTML]="aboutdata?.department?.fdp">                                       
                                 </div>
                              </div>
                           </div> 
                        </div>
                  
                        <div id="placements" *ngIf="toShow === 'placements'">
                              <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Placements</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.placements">                                       
                                    </div>
                                 </div>
                              </div> 
                        </div>
                        <div id="contact" *ngIf="toShow === 'contact'">
                              <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Contact us</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.contact">                                       
                                    </div>
                                 </div>
                              </div> 
                        </div>
                  </div> 
                  
            </mat-card>

            
      </div>
      <div class="col-md-3" style="height: 630px">
         <div class="sidenav">
            <ul class="facilities-list">
               <li><a [ngClass]="{'active': toShow === 'about'}" (click)="changeTab('about')">About us</a></li>
               <li><a [ngClass]="{'active': toShow === 'ppp'}"  (click)="changeTab('ppp')">PEOs, POs and PSOs</a></li>
               <li><a [ngClass]="{'active': toShow === 'course'}"  (click)="changeTab('course')">Courses</a></li>
               <li *ngIf="aboutdata?.department?.MOU?.show"><a [ngClass]="{'active': toShow === 'MOU'}"  (click)="changeTab('MOU')">MOU</a></li>
               <li *ngIf="aboutdata?.department?.CEP?.show"><a [ngClass]="{'active': toShow === 'CEP'}"  (click)="changeTab('CEP')">CEP</a></li>
               <li><a [ngClass]="{'active': toShow === 'faculty'}"  (click)="changeTab('faculty')">Faculty</a></li>
               <!-- <li *ngIf="aboutdata?.department?.faculty && aboutdata?.department?.faculty !== null && aboutdata?.department?.faculty !== ''"><a (click)="changeTab('faculty')">Faculty</a></li> -->
               <li><a [ngClass]="{'active': toShow === 'valueAddedCourse'}"  (click)="changeTab('valueAddedCourse')">Value Added Courses / OCC</a></li>
               <li><a [ngClass]="{'active': toShow === 'student'}"  (click)="changeTab('student')">Student</a></li>
               <li><a [ngClass]="{'active': toShow === 'facilities'}"  (click)="changeTab('facilities')">Facilities</a></li>
               <li><a [ngClass]="{'active': toShow === 'fdp'}"  (click)="changeTab('fdp')">FDP</a></li>
               <li><a [ngClass]="{'active': toShow === 'placements'}"  (click)="changeTab('placements')">Placements</a></li>
               <li><a [ngClass]="{'active': toShow === 'contact'}"  (click)="changeTab('contact')">Contact us</a></li>
            </ul> 
         </div>
      </div>
  </div>
</div>