.mat-tab-label
{
    width:50% !important;
}
.d-md-block 
{
    position: absolute;
    top:100px;
    left: 10px;
    color:#fff;
}
.carousel-item img{
    /* background: #000 !important; */
    height: 450px !important;
    display: block !important; 
    width: 100% !important;
}
.course-features
{
    padding: 5px;
}
#course-table .tableData{
   width: 100% !important;
}
/* #about
{
    min-height: 300px;
}
#peos
{
    min-height: 300px;
}
#courses
{
    min-height: 300px;
}
#faculty
{
    min-height: 300px;
}
#valueadded
{
    min-height: 300px;
} */
.menu-spacer {
    flex: 1 1 auto;
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button
{
    width:130px !important;
}
.mat-toolbar-row, .mat-toolbar-single-row
{
    background:#cc2655 !important;
    height: 50px !important;
}
.toolbar-menu
{
    padding: 6px 50px !important;
    color:#fff;
    font-size: 16px;
}
.sticky1 {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    font-size: 20px;
    z-index: 1002;
    width: 97.4%;
    margin-left: 1.4%;
}
.gray-bg
{
    z-index: 1003;
}
.list-items li
{
    list-style-type:circle;
    border-bottom:none;
    line-height:30px;
    color:#333;    
}
.faculty
{
    padding:10px;
    background-color:#395498;
    min-width:115%;
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;
    -webkit-transition: background-color 0.5s ease-out;
   -moz-transition: background-color 0.5s ease-out;
   -o-transition: background-color 0.5s ease-out;
}
.parent {
   opacity: 1;
}
.child {
   opacity: 1;
}
.faculty-row {
   margin: 1%;
}
.faculty p
{
   font-size:15px; 
   line-height:15px;   
   color:#ffffff;
   -webkit-transition: color 0.5s ease-out;
   -moz-transition: color 0.5s ease-out;
   -o-transition: color 0.5s ease-out;
}
.faculty span {
   display: none;
   font-size:15px; 
   line-height:15px;   
   color:#ffffff;
   -webkit-transition: display 0.5s ease-out;
   -moz-transition: display 0.5s ease-out;
   -o-transition: display 0.5s ease-out;
}
.faculty:hover {
   background-color:#ffffff;
   border: 2px solid #323F9F;
   /* z-index: 50;
   width: auto;
   position: absolute; */
}
.faculty:hover p, .faculty:hover span {  
   color:#323F9F;
}
.faculty:hover span {
   display: block;
   /* background:#eee; */
}
.faculty:hover .parent {
   opacity: 0.5;
}
.faculty:hover + .child {
   opacity: 1;
}
@media (min-width:992px)
{
.col-lg-4 
    {
        width:30% !important;
        flex:30% !important;
    }
}

.sidebar-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}
.sidebar-nav {
    margin-top: 30px;
}
.facilities-list
{
    background: #B9285E;

}
.facilities-list li
{
    line-height: 40px;    
    cursor: pointer;
    border-bottom:1px solid #f5f6f7;
    background-color: #B9285E;
    transition: background-color 2s transform 2s;
    -webkit-transition: background-color 2s;
    /* transition-timing-function: linear; */
    /* -webkit-transition-timing-function: linear; */
}
.facilities-list li a
{
    font-size: 15px;
    color:#f5f6f7;
    width: 100%;
    text-decoration: none;
    padding: 10px 5px 5px 10px;
}
.facilities-list li a:hover, .facilities-list li a.active
{
   background-color: #FFFFFF;
   color: #B9285E;
   border-right: 1px solid #B9285E;
}


.sidenav {
   width: 250px;
   left: 10px;
   overflow-x: hidden;
   padding: 8px 0;
}
.main {
   margin-left: 140px;
  padding: 0px 10px;
}

.sidenav-container {
   width: 400px;
   height: 200px;
   margin: 10px;
   /* border: 1px solid #555; */
}

/* width */
#boxscroll::-webkit-scrollbar {
   width: 2px;
 }
 
 /* Track */
#boxscroll::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }
  
 /* Handle */
#boxscroll::-webkit-scrollbar-thumb {
   background: #C62758; 
 }
 
 /* Handle on hover */
#boxscroll::-webkit-scrollbar-thumb:hover {
   background: #323E9E; 
 }

 /* width */
#bottomscroll::-webkit-scrollbar {
   width: 2px;
   height: 2px;
 }
 
 /* Track */
#bottomscroll::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }
  
 /* Handle */
#bottomscroll::-webkit-scrollbar-thumb {
   background: #C62758; 
 }
 
 /* Handle on hover */
#bottomscroll::-webkit-scrollbar-thumb:hover {
   background: #323E9E; 
 }
