.mat-tab-label
{
    width:50% !important;
}
.d-md-block 
{
    position: absolute;
    top:100px;
    left: 10px;
    color:#fff;
}
.carousel-item img{
    /* background: #000 !important; */
    height: 500px !important;
    display: block !important; 
    width: 100% !important;
}
.course-features
{
    padding: 5px;
}
/* #about
{
    min-height: 300px;
}
#peos
{
    min-height: 300px;
}
#courses
{
    min-height: 300px;
}
#faculty
{
    min-height: 300px;
}
#valueadded
{
    min-height: 300px;
} */
.menu-spacer {
    flex: 1 1 auto;
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button
{
    width:130px !important;
}
.mat-toolbar-row, .mat-toolbar-single-row
{
    background:#cc2655 !important;
    height: 50px !important;
}
.toolbar-menu
{
    padding: 6px 50px !important;
    color:#fff;
    font-size: 16px;
}
.sticky1 {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    font-size: 20px;
    z-index: 1002;
    width: 97.4%;
    margin-left: 1.4%;
}
.gray-bg
{
    z-index: 1003;
}
.list-items li
{
    list-style-type:circle;
    border-bottom:none;
    line-height:30px;
    color:#333;    
}
.faculty
{
    padding:10px;
    background:#395498;
    margin:15px;    
    width:100%;
}
.faculty p
{
    font-size:15px; 
    line-height:28px;   
    color:#ffffff;
}
@media (min-width:992px)
{
.col-lg-4 
    {
        width:30% !important;
        flex:30% !important;
    }
}