<div id="corses-singel" class="gray-bg">
   <carousel>
      <slide *ngFor="let image of aboutdata?.department?.departmentImageUrl; let i = index">
         <img src="{{image}}" alt="{{i}} slide">                  
      </slide>
   </carousel>
</div>
<div class="container-fluid">
  <div class="row" style="padding: 5%">
      
      <div id="boxscroll" class="col-md-9" style="height: 630px; overflow-y: auto">
            <mat-card>
                  <div id="about">
                        <div class="title" *ngIf="toShow === 'about'">
                              <h3>{{aboutdata?.department?.name}}</h3>
                        </div>  
                        <div id="about" *ngIf="toShow === 'about'">
                              <div *ngIf="aboutdata?.department?.aboutUs && aboutdata?.department?.aboutUs !== null && aboutdata?.department?.aboutUs !== ''" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>About Us</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.aboutUs">                                      
                                    </div>
                                 </div>
                              </div>
                        </div>   
                        <div id="peos" *ngIf="toShow === 'ppp'">
                              <div *ngIf="aboutdata?.department?.peo && aboutdata?.department?.peo !== null && aboutdata?.department?.peo !== ''" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>PEOs</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.peo">                                       
                                    </div>
                                 </div>
                              </div> 
                              <div *ngIf="aboutdata?.department?.po && aboutdata?.department?.po !== null && aboutdata?.department?.po !== ''" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>POs</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.po">                                       
                                    </div>
                                 </div>
                              </div>
                              <div *ngIf="aboutdata?.department?.pso && aboutdata?.department?.pso !== null && aboutdata?.department?.pso !== ''" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>PSOs</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.pso">                                       
                                    </div>
                                 </div>
                              </div> 
                        </div>
                        <div id="courses" *ngIf="toShow === 'course'">
                              <div *ngIf="aboutdata?.department?.course && aboutdata?.department?.course !== null && aboutdata?.department?.course !== ''" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Courses and Regulations</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.course">                                      
                                    </div>
                                    <mat-accordion>
                                       <div *ngFor="let data of aboutdata?.department?.semester;">
                                          <div> 
                                             <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                   <mat-panel-title>
                                                   {{data?.name}}
                                                   </mat-panel-title>              
                                                </mat-expansion-panel-header> 
                                                <div id="course-table">
                                                   <p style="width: 100%" [innerHTML]="data?.semesterDetails"></p>                                      
                                                </div>
                                             </mat-expansion-panel>      
                                          </div>               
                                       </div>                        
                                    </mat-accordion>  

                                       <!-- <a href="{{aboutdata?.department?.courseFileUrl}}" target="_blank">click here to download
                                       <img src="../../../../assets/images/pdf-icon.png" /></a> -->
                                 </div>
                                 <br>
                                 <span *ngFor="let url of aboutdata?.department?.courseFileUrl">
                                    <button *ngIf="url" mat-stroked-button class="link-tag" style="width: 150px !important; margin-top: 10px; margin-left: 18px" (click)="download(url)"><i class="fa fa-file-pdf-o"></i> Download PDF</button>
                                 </span>
                              </div>                          
                        </div> 
                        <!-- <div id="faculty" *ngIf="toShow === 'faculty'">
                              <div *ngIf="aboutdata?.department?.faculty && aboutdata?.department?.faculty !== null && aboutdata?.department?.faculty !== ''" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Faculty</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.faculty">                                      
                                    </div>
                                 </div>
                              </div>                          
                        </div>  -->
                        <div id="faculty" *ngIf="toShow === 'faculty'">
                              <div *ngIf="facultyArray !== null" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Faculty</h4>
                                    <div *ngFor="let info of facultyArray">                  
                                             <div class="row">                                                       
                                                   <div class="col-lg-4 faculty-row" *ngFor="let data of info">
                                                      <div class="faculty parent child">
                                                            <p>{{data?.name}}</p>
                                                            <p>{{data?.designation}}</p>
                                                            <p>Experience : {{data?.experience}}</p>
                                                            <p>Date of Joining : {{data?.dateOfJoining | date: 'dd-MM-yyyy'}}</p>
                                                            <span id="bottomscroll" style="line-height: normal; overflow: auto;">
                                                               Area of Specialization : <br><p>{{data?.areaOfSpecialization}}</p>
                                                            </span>
                                                      </div>                                                            
                                                   </div>
                                                </div>
                                       </div>  
                                    <!-- <div class="course-features">
                                          <carousel>                                                                 
                                                                            
                                          </carousel> 
                                    </div> -->
                                 </div>
                              </div>                          
                        </div> 
                        <div id="valueadded" *ngIf="toShow === 'valueAddedCourse'">
                              <div class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="course-features">
                                             <h4>Value Added Courses </h4>
                                    </div>
                                    <mat-accordion>
                                          <mat-expansion-panel>
                                             <mat-expansion-panel-header>
                                             <mat-panel-title>
                                                Value Added Courses 
                                             </mat-panel-title>              
                                             </mat-expansion-panel-header>                                              
                                             <p [innerHTML]="aboutdata?.department?.valueAddedCourse"></p>
                                          </mat-expansion-panel>
                                          <mat-expansion-panel (opened)="panelOpenState = true"
                                                            (closed)="panelOpenState = false">
                                             <mat-expansion-panel-header>
                                             <mat-panel-title>
                                                One Credit Courses
                                             </mat-panel-title>                                                    
                                             </mat-expansion-panel-header>
                                             <p [innerHTML]="aboutdata?.department?.oneCreditedCourse"></p>                                               
                                          </mat-expansion-panel>                                           
                                    </mat-accordion>                                  
                                 </div>
                              </div>                          
                        </div> 
                        
                        <div id="student" *ngIf="toShow === 'student'">
                              <div *ngIf="aboutdata?.department?.student && aboutdata?.department?.student !== null && aboutdata?.department?.student !== ''" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Student</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.student">                                       
                                    </div>
                                 </div>
                              </div> 
                        </div>
                  
                        <div id="facilities" *ngIf="toShow === 'facilities'">
                              <div *ngIf="aboutdata?.department?.facilities && aboutdata?.department?.facilities !== null && aboutdata?.department?.facilities !== ''" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Facilities</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.facilities">                                       
                                    </div>
                                 </div>
                              </div> 
                        </div>
                  
                        <div id="fdp" *ngIf="toShow === 'fdp'">
                           <div *ngIf="aboutdata?.department?.fdp && aboutdata?.department?.fdp !== null && aboutdata?.department?.fdp !== ''" class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <h4>FDP</h4>
                                 <div class="course-features" [innerHTML]="aboutdata?.department?.fdp">                                       
                                 </div>
                              </div>
                           </div> 
                        </div>
                  
                        <div id="placements" *ngIf="toShow === 'placements'">
                              <div *ngIf="aboutdata?.department?.placements && aboutdata?.department?.placements !== null && aboutdata?.department?.placements !== ''" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Placements</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.placements">                                       
                                    </div>
                                 </div>
                              </div> 
                        </div>
                        <div id="contact" *ngIf="toShow === 'contact'">
                              <div *ngIf="aboutdata?.department?.contact && aboutdata?.department?.contact !== null && aboutdata?.department?.contact !== ''" class="row">
                                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <h4>Contact us</h4>
                                    <div class="course-features" [innerHTML]="aboutdata?.department?.contact">                                       
                                    </div>
                                 </div>
                              </div> 
                        </div>
                  </div> 
                  
            </mat-card>

            
      </div>
      <div class="col-md-3" style="height: 630px">
         <div class="sidenav">
            <ul class="facilities-list">
               <li *ngIf="aboutdata?.department?.aboutUs && aboutdata?.department?.aboutUs !== null && aboutdata?.department?.aboutUs !== ''"><a (click)="changeTab('about')">About us</a></li>
               <li *ngIf="(aboutdata?.department?.peo && aboutdata?.department?.peo !== null && aboutdata?.department?.peo !== '') || (aboutdata?.department?.po && aboutdata?.department?.po !== null && aboutdata?.department?.po !== '') || (aboutdata?.department?.pso && aboutdata?.department?.pso !== null && aboutdata?.department?.pso !== '')"><a (click)="changeTab('ppp')">PEOs, POs and PSOs</a></li>
               <li *ngIf="aboutdata?.department?.course && aboutdata?.department?.course !== null && aboutdata?.department?.course !== ''"><a (click)="changeTab('course')">Courses</a></li>
               <li *ngIf="facultyArray !== null"><a (click)="changeTab('faculty')">Faculty</a></li>
               <!-- <li *ngIf="aboutdata?.department?.faculty && aboutdata?.department?.faculty !== null && aboutdata?.department?.faculty !== ''"><a (click)="changeTab('faculty')">Faculty</a></li> -->
               <li *ngIf="(aboutdata?.department?.valueAddedCourse && aboutdata?.department?.valueAddedCourse !== null && aboutdata?.department?.valueAddedCourse !== '') || (aboutdata?.department?.oneCreditedCourse && aboutdata?.department?.oneCreditedCourse !== null && aboutdata?.department?.oneCreditedCourse !== '')"><a (click)="changeTab('valueAddedCourse')">Value Added Courses / OCC</a></li>
               <li *ngIf="aboutdata?.department?.student && aboutdata?.department?.student !== null && aboutdata?.department?.student !== ''"><a (click)="changeTab('student')">Student</a></li>
               <li *ngIf="aboutdata?.department?.facilities && aboutdata?.department?.facilities !== null && aboutdata?.department?.facilities !== ''"><a (click)="changeTab('facilities')">Facilities</a></li>
               <li *ngIf="aboutdata?.department?.fdp && aboutdata?.department?.fdp !== null && aboutdata?.department?.fdp !== ''"><a (click)="changeTab('fdp')">FDP</a></li>
               <li *ngIf="aboutdata?.department?.placements && aboutdata?.department?.placements !== null && aboutdata?.department?.placements !== ''" ><a (click)="changeTab('placements')">Placements</a></li>
               <li *ngIf="aboutdata?.department?.contact && aboutdata?.department?.contact !== null && aboutdata?.department?.contact !== ''"><a (click)="changeTab('contact')">Contact us</a></li>
            </ul> 
         </div>
      </div>
  </div>
</div>