<div id="courses-part" class="pt-20 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title mt-50">                        
                   <h5>Our Departments</h5>
                </div> <!-- section title -->                    
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-8">
                <mat-accordion>
                    <div *ngFor="let data of streamdata;">
                      <div (click)="changestream(data)"> 
                          <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                {{data?.name}}
                                </mat-panel-title>              
                            </mat-expansion-panel-header> 
                                <div *ngFor="let info of deptlist;">
                                   <a [routerLink]="['/department-view', info._id]"><span style="margin-right: 10px;">-</span>{{info?.name}}</a>
                                </div>
                               <p *ngIf="depatmntLoader">Please wait ...</p>
                            </mat-expansion-panel>      
                        </div>               
                    </div>                        
                   
                </mat-accordion>  
            </div>
            <div class="col-lg-4">                                          
                <div class="department-list">
                    <div class="header-list">
                        <h4>Departments</h4>
                    </div>
                    <div class="content-detail">
                        <ul>
                            <div *ngFor="let data of departmentlist">
                                <li><a [routerLink]="['/department-view', data._id]"><span style="margin-right: 10px;">-</span>{{data?.name}}</a></li>
                            </div>                           
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
        <!-- <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="courses-grid" role="tabpanel" aria-labelledby="courses-grid-tab">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="../../../../assets/images/course/electrical.png" alt="Department">
                                </div>                                   
                            </div>
                            <div class="cont">                                    
                                <a [routerLink]="['/department-view']"><h4>Electrical Engineering</h4></a>
                                
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="../../../../assets/images/course/mechanical.jpg" alt="Department">
                                </div>
                             
                            </div>
                            <div class="cont">                                   
                                <a [routerLink]="['/department-view']"><h4>Mechanical Engineering</h4></a>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="../../../../assets/images/course/automobile.png" alt="Department">
                                </div>
                                
                            </div>
                            <div class="cont">
                               
                                <a [routerLink]="['/department-view']"><h4>Automobile Engineering</h4></a>
                                
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="../../../../assets/images/course/textile.jpg" alt="Department">
                                </div>
                                
                            </div>
                            <div class="cont">
                                
                                <a [routerLink]="['/department-view']"><h4>Textile Technology</h4></a>
                               
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="../../../../assets/images/course/civil.jpg" alt="Department">
                                </div>
                               
                            </div>
                            <div class="cont">
                                
                                <a [routerLink]="['/department-view']"><h4>Civil Engineering</h4></a>
                                
                            </div>
                        </div> 
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="../../../../assets/images/course/ece.jpg" alt="Department">
                                </div>
                               
                            </div>
                            <div class="cont">
                               
                                <a [routerLink]="['/department-view']"><h4>Electronics &amp; Communication Engineering</h4></a>
                                
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
           
        </div> -->
       
    </div>
</div>