<div id="event-singel" class="pt-50 pb-60 gray-bg">
    <div class="container">
        <div class="events-area">
            <div class="row">
                <div class="col-lg-12">
                    <div class="events-left">
                        <h3>Our Gallery</h3>                                
                            <div id="Automobile" class="">    
                            <div class="col-lg-4 col-md-6" style="float: left;">
                                    <div class="singel-course mt-10">
                                        <div class="thum">
                                            <div class="image">
                                                <img id="myImg" src="../../../../assets/images/events/event1.jpg" alt="NIA Family Celebration" style="border:1px solid #ccc; padding: 3px;">
                                                <h5 class="text-center">NIA Family Celebration</h5>
                                            </div>                                   
                                        </div>
                                    </div> <!-- singel course -->
                                </div>   
                                <div class="col-lg-4 col-md-6" style="float: left;">
                                    <div class="singel-course mt-10">
                                        <div class="thum">
                                            <div class="image">
                                                <img id="myImg" src="../../../../assets/images/events/event3.jpg" alt="Chairman Meeting" style="border:1px solid #ccc; padding: 3px;">
                                                <h5 class="text-center">Chairman Meeting</h5>
                                            </div>                                   
                                        </div>
                                    </div> <!-- singel course -->
                                </div>            
                                 <div class="col-lg-4 col-md-6" style="float: left;">
                                    <div class="singel-course mt-10">
                                        <div class="thum">
                                            <div class="image">
                                                <img id="myImg" src="../../../../assets/images/events/event4.jpg" alt="Student Award Function" style="border:1px solid #ccc; padding: 3px;">
                                                <h5 class="text-center">Student Award Function</h5>
                                            </div>                                   
                                        </div>
                                    </div> <!-- singel course -->
                                </div>                        
                               <div class="col-lg-4 col-md-6" style="float: left;">
                                    <div class="singel-course mt-10">
                                        <div class="thum">
                                            <div class="image">
                                                <img id="myImg" src="../../../../assets/images/course/automobile.png" alt="Automobile Engineering" style="border:1px solid #ccc; padding: 3px;">
                                                <h5 class="text-center">Automobile Engineering</h5>
                                            </div>                                   
                                        </div>
                                    </div> <!-- singel course -->
                                </div>
                                <div class="col-lg-4 col-md-6" style="float: left;">
                                    <div class="singel-course mt-10">
                                        <div class="thum">
                                            <div class="image">
                                                <img id="myImg" src="../../../../assets/images/course/civil.jpg" alt="Civil Engineering" style="border:1px solid #ccc; padding: 3px;">
                                                <h5 class="text-center">Civil Engineering</h5>
                                            </div>                                   
                                        </div>
                                    </div> <!-- singel course -->
                                </div>
                                <div class="col-lg-4 col-md-6" style="float: left;">
                                    <div class="singel-course mt-10">
                                        <div class="thum">
                                            <div class="image">
                                                <img id="myImg" src="../../../../assets/images/course/electrical.png" alt="Electrical Engineering" style="border:1px solid #ccc; padding: 3px;">
                                                <h5 class="text-center">Electrical Engineering</h5>
                                            </div>                                   
                                        </div>
                                    </div> <!-- singel course -->
                                </div>
                                <div class="col-lg-4 col-md-6" style="float: left;">
                                    <div class="singel-course mt-10">
                                        <div class="thum">
                                            <div class="image">
                                                <img id="myImg" src="../../../../assets/images/course/mechanical.jpg" alt="Mechanical Engineering" style="border:1px solid #ccc; padding: 3px;">
                                                <h5 class="text-center">Mechanical Engineering</h5>
                                            </div>                                   
                                        </div>
                                    </div> <!-- singel course -->
                                </div>
                                <div class="col-lg-4 col-md-6" style="float: left;">
                                    <div class="singel-course mt-10">
                                        <div class="thum">
                                            <div class="image">
                                                <img id="myImg2" src="../../../../assets/images/course/textile.jpg" alt="Textile Technology" style="border:1px solid #ccc; padding: 3px;">
                                                <h5 class="text-center">Textile Technology</h5>
                                            </div>                                   
                                        </div>
                                    </div> <!-- singel course -->
                                </div>                                
                            </div>                              
                    </div> <!-- events left -->
                </div>
               
            </div> <!-- row -->
            
              
    </div> <!-- container -->
</div>