.facilities-list
{
    background: #B9285E;

}
.facilities-list li
{
    line-height: 31px;    
    border-bottom:1px solid #f5f6f7;
    /* background-color:#B9285E; */
    background-image: linear-gradient(to right, #B9285E , #B9285E);
    transition: background-image 2s transform 2s;
    -webkit-transition: background-image 2s;
    /* transition-timing-function: linear; */
    /* -webkit-transition-timing-function: linear; */
}
.facilities-list li a
{
    font-size: 15px;
    color:#f5f6f7;
    width: 100%;
    text-decoration: none;
    padding: 10px 5px 5px 10px;
}
.facilities-list li a:hover, .facilities-list li a:active
{
    background-image: linear-gradient(to right, #B9285E , #8D2F74);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 20px;
    z-index: 1002;
    width:100%;
}
.menu-spacer {
    flex: 1 1 auto;
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button
{
    width:130px !important;
}
.mat-toolbar-row, .mat-toolbar-single-row
{
    background:#cc2655 !important;
    height: 50px !important;
}
.toolbar-menu
{
    padding: 6px 15px !important;
    color:#fff;
    font-size: 14px;
}
.sticky1 {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    z-index: 1002;
    width: 100%;
}
.mat-toolbar-row, .mat-toolbar-single-row
{
    padding:0px 8px !important;
}
.sidebar-nav {
    margin-top: 30px;
}

/* width */
#boxscroll::-webkit-scrollbar {
   width: 2px;
 }
 
 /* Track */
#boxscroll::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }
  
 /* Handle */
#boxscroll::-webkit-scrollbar-thumb {
   background: #C62758; 
 }
 
 /* Handle on hover */
#boxscroll::-webkit-scrollbar-thumb:hover {
   background: #323E9E; 
 }