.facilities-list
{
    background: #edf1f5;

}
.facilities-list li
{
    padding:5px 10px;
    line-height: 40px;    
    border-bottom:1px solid #f5f6f7;
}
.facilities-list li a
{
    font-size: 15px;
    color:#3c3e99;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 20px;
    z-index: 1002;
    width:100%;
}
.menu-spacer {
    flex: 1 1 auto;
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button
{
    width:130px !important;
}
.mat-toolbar-row, .mat-toolbar-single-row
{
    background:#cc2655 !important;
    height: 50px !important;
}
.toolbar-menu
{
    padding: 6px 15px !important;
    color:#fff;
    font-size: 14px;
}
.sticky1 {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    z-index: 1002;
    width: 100%;
}
.mat-toolbar-row, .mat-toolbar-single-row
{
    padding:0px 8px !important;
}