<div id="corses-singel" class="pb-60 gray-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="corses-singel-left mt-30">
                  <div class="title">
                      <h3>Facilities</h3>
                  </div> <!-- title --> 
                  <div class="row">
                    <div class="col-lg-8">
                      <div id="Hostel">
                          <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                  <div class="course-features">
                                      <h4>About Us </h4>
                                      <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>                                                       
                                      <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                  </div> <!-- course features -->
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                  <div class="course-features">
                                      <h4>Vision </h4>
                                      <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>  
                                  </div>
                              </div>
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                  <div class="course-features">
                                      <h4>Mission</h4>                             
                                      <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                  </div> <!-- course features -->
                              </div>                        
                          </div>    
                      </div>   
                      <div id="Library">
                          <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                  <div class="course-features">
                                      <h4>PEOs, POs and PSOs</h4>
                                      <p>Programme Educational Objectives (PEOs)</p>
                                      <ul class="list-items">
                                          <li>PO1.Engineering Knowledge : Apply the knowledge of mathematics, science, engineering fundamentals and concepts of Computer Science to solve complex engineering problems.</li>
                                          <li>PO2.Problem Analysis : Identify, review literature, formulate and analyse complex engineering problems using first principles of mathematics and engineering sciences.</li>
                                          <li>PO3.Design and Development of Solutions : Design and develop computing solutions for complex engineering problems with societal and environmental awareness.</li>
                                          <li>PO4.Complex problem Investigation : Investigate complex problems by employing research methods to arrive at valid conclusions.</li>
                                          <li>PO5.Modern Tool Usage : Evaluate and use appropriate tools and techniques in engineering activities .</li>
                                          <li>PO6.Societal contribution : Follow professional engineering practice by applying contextual knowledge to assess societal and legal issues.</li>
                                          <li>PO7.Environment and  Sustainability :  Understand  and provide professional engineering solutions taking into consideration environmental and economic sustainability.</li>
                                          <li>PO8.Ethics : Follow ethical principles  and norms in engineering practice.</li>
                                          <li>PO9.Individual and Team work : Function effectively as an individual, team member or leader in diversified environments .</li>                                            
                                          </ul>
                                  </div> <!-- course features -->
                              </div>
                          </div> 
                      </div>
                      <div id="PhysicalEducation">
                          <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                  <div class="course-features">
                                      <h4>Courses and Regulations</h4>
                                      <p>The department offers Computer Science and Engineering with an annual intake of 120 students and Computer Science and Engineering with an annual intake of 18 students.</p>                                    
                                      <h4>Courses &amp; Syllabus</h4>
                                          <a href="#"><mat-icon>picture_as_pdf</mat-icon> File name</a>
                                  </div> <!-- course features -->
                              </div>
                          </div>                          
                      </div> 
                      <div id="SGS">
                          <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                  <div class="course-features">
                                      <h4>Faculty </h4>
                                      <carousel>
                                              <slide>
                                                  <div class="col-lg-12 row">
                                                      <div class="col-lg-4 faculty">
                                                          <p>Name : Faculty name1</p>
                                                          <p>Designation : Ph.D</p>
                                                          <p>Experience : 10 Years</p>
                                                          <p>Date of Joining : 03.07.2014</p>
                                                          <p>Area of Specialization : Manufacturing, Machine drawing, Industrial Design, IC Engines</p>
                                                      </div>
                                                      <div class="col-lg-4 faculty">
                                                              <p>Name : Faculty name2</p>
                                                              <p>Designation : Ph.D</p>
                                                              <p>Experience : 10 Years</p>
                                                              <p>Date of Joining : 03.07.2014</p>
                                                              <p>Area of Specialization : Manufacturing, Machine drawing, Industrial Design, IC Engines</p>
                                                      </div>
                                                      <div class="col-lg-4 faculty">
                                                              <p>Name : Faculty name3</p>
                                                              <p>Designation : Ph.D</p>
                                                              <p>Experience : 10 Years</p>
                                                              <p>Date of Joining : 03.07.2014</p>
                                                              <p>Area of Specialization : Manufacturing, Machine drawing, Industrial Design, IC Engines</p>
                                                      </div>                                                   
                                                      
                                                  </div>
                                              </slide>
                                              <slide> 
                                                  <div class="col-lg-12 row">               
                                                      <div class="col-lg-4 faculty">
                                                          <p>Name : Faculty name4</p>
                                                          <p>Designation : Ph.D</p>
                                                          <p>Experience : 10 Years</p>
                                                          <p>Date of Joining : 03.07.2014</p>
                                                          <p>Area of Specialization : Manufacturing, Machine drawing, Industrial Design, IC Engines</p>
                                                      </div>
                                                      <div class="col-lg-4 faculty">
                                                          <p>Name : Faculty name5</p>
                                                          <p>Designation : Ph.D</p>
                                                          <p>Experience : 10 Years</p>
                                                          <p>Date of Joining : 03.07.2014</p>
                                                          <p>Area of Specialization : Manufacturing, Machine drawing, Industrial Design, IC Engines</p>
                                                      </div>
                                                      <div class="col-lg-4 faculty">
                                                          <p>Name : Faculty name6</p>
                                                          <p>Designation : Ph.D</p>
                                                          <p>Experience : 10 Years</p>
                                                          <p>Date of Joining : 03.07.2014</p>
                                                          <p>Area of Specialization : Manufacturing, Machine drawing, Industrial Design, IC Engines</p>
                                                      </div>           
                                                  </div>
                                              </slide>
                                          </carousel>
                                  </div> <!-- course features -->
                              </div>
                          </div>                          
                      </div> 
                      <div id="NCC">
                          <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                  <div class="course-features">
                                          <h4>Value Added Courses </h4>
                                  </div>
                                  <mat-accordion>
                                      <mat-expansion-panel>
                                          <mat-expansion-panel-header>
                                          <mat-panel-title>
                                              Value Added Courses 
                                          </mat-panel-title>              
                                          </mat-expansion-panel-header>                                              
                                          <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>                                                       
                                          <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus .</p>
                                      </mat-expansion-panel>
                                      <mat-expansion-panel (opened)="panelOpenState = true"
                                                          (closed)="panelOpenState = false">
                                          <mat-expansion-panel-header>
                                          <mat-panel-title>
                                              One Credit Courses
                                          </mat-panel-title>                                                    
                                          </mat-expansion-panel-header>
                                          <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit sollicitudirem quibibendum auciLorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit sollicitudirem quibibendum auci.
                                              Lorem ipsum gravida</p>                                                  
                                      </mat-expansion-panel>                                           
                                  </mat-accordion>                                  
                              </div>
                          </div>                          
                      </div>       
                    </div>
                    <div class="col-lg-4 sticky">
                      <ul class="facilities-list">
                        <li><a href="http://localhost:4200/facilities#Hostel" routerlink="['/facilities/hostel']">Hostel</a></li>
                        <li><a href="http://localhost:4200/facilities#Library">Library</a></li>
                        <li><a href="http://localhost:4200/facilities#PhysicalEducation">Physical Education</a></li>
                        <li><a href="http://localhost:4200/facilities#SGS">SGS</a></li>
                        <li><a href="http://localhost:4200/facilities#NCC">NCC</a></li>
                        <li><a href="http://localhost:4200/facilities#NSS">NSS</a></li>
                        <li><a href="http://localhost:4200/facilities#IIPC">IIPC</a></li>
                        <li><a href="http://localhost:4200/facilities#Education">Continuing Education centre</a></li>
                        <li><a href="http://localhost:4200/facilities#RRC">Red Ribbon Club</a></li>
                        <li><a href="http://localhost:4200/facilities#EMDC">EMDC</a></li>
                        <li><a href="http://localhost:4200/facilities#ISTE">ISTE</a></li>
                        <li><a href="http://localhost:4200/facilities#YRC">Youth Red Cross</a></li>
                        <li><a href="http://localhost:4200/facilities#CDTP">CDTP</a></li>
                      </ul>
                    </div>
                  </div>
              </div>
          </div> <!-- corses singel left -->                       
      </div> <!-- row -->
    
  </div> <!-- container -->
</div>