<div id="corses-singel" class="gray-bg">
  <div class="container-fluid">
      <div class="row" style="height: 670px">
        <div class="col-lg-3 sidebar-nav" style="height: 611px">
            <ul class="facilities-list">
                <li><a [ngClass]="{'active': toShow === 'Hostel' }" (click)="changeTab('Hostel')">Hostel</a></li>
                <li><a [ngClass]="{'active': toShow === 'Library' }" (click)="changeTab('Library')">Library</a></li>
                <li><a [ngClass]="{'active': toShow === 'PE' }" (click)="changeTab('PE')">Physical Education</a></li>
                <li><a [ngClass]="{'active': toShow === 'SGS' }" (click)="changeTab('SGS')">SGS</a></li>
                <li><a [ngClass]="{'active': toShow === 'NCC' }" (click)="changeTab('NCC')">NCC</a></li>
                <li><a [ngClass]="{'active': toShow === 'NSS' }" (click)="changeTab('NSS')">NSS</a></li>
                <li><a [ngClass]="{'active': toShow === 'IIPC' }" (click)="changeTab('IIPC')">IIPC</a></li>
                <li><a [ngClass]="{'active': toShow === 'CEC' }" (click)="changeTab('CEC')">Continuing Education centre</a></li>
                <li><a [ngClass]="{'active': toShow === 'RRC' }" (click)="changeTab('RRC')">Red Ribbon Club</a></li>
                <li><a [ngClass]="{'active': toShow === 'EMDC' }" (click)="changeTab('EMDC')">EMDC</a></li>
                <li><a [ngClass]="{'active': toShow === 'ISTE' }" (click)="changeTab('ISTE')">ISTE</a></li>
                <li><a [ngClass]="{'active': toShow === 'YRC' }" (click)="changeTab('YRC')">Youth Red Cross</a></li>
                <li><a [ngClass]="{'active': toShow === 'CDTP' }" (click)="changeTab('CDTP')">CDTP</a></li>
            </ul>                
        </div>  
          <div id="boxscroll" class="col-lg-9" style="height: 611px; overflow-y: auto; margin-top: 30px">
              <div class="corses-singel-left mt-30" style="margin-top: 0">
                <div class="title">
                    <h3>Facilities</h3>
                </div>
                <div>
                        <div id="Hostel" *ngIf="toShow === 'Hostel'">
                            <div class="row">
                                <div class="col-xl-8">
                                    <h4>Hostel </h4> 
                                    <div class="course-features" [innerHTML]="hosteldata?.content">                                    
                                    </div> <!-- course features -->
                                </div>
                                <div class="col-lg-4 mt-50">
                                    <carousel>
                                        <div *ngFor="let info of hostelimageUrl">
                                        <slide>
                                            <img src="{{info}}" alt="first slide" >                                      
                                        </slide> 
                                        </div>                                 
                                    </carousel>
                                </div>
                          </div>
                      </div>   
                      <div id="Library" *ngIf="toShow === 'Library'">
                          <div class="row">
                              <div class="col-xl-8">
                                 <h4>Library</h4>      
                                 <div class="course-features" [innerHTML]="librarydata?.content">
                                  </div> <!-- course features -->
                              </div>
                              <div class="col-lg-4 mt-50">
                                <carousel>
                                    <div *ngFor="let info of libraryimageUrl">
                                    <slide>
                                        <img src="{{info}}" alt="first slide" >                                      
                                    </slide> 
                                    </div>                                 
                                </carousel>
                            </div>
                          </div> 
                      </div>
                      <div id="PhysicalEducation" *ngIf="toShow === 'PE'">
                          <div class="row">
                              <div class="col-xl-8">
                                    <h4>PhysicalEducation</h4>
                                  <div class="course-features" [innerHTML]="physicaleducationdata?.content">                                                                            
                                  </div> <!-- course features -->
                              </div>
                              <div class="col-lg-4 mt-50">
                                <carousel>
                                    <div *ngFor="let info of physicaleducationimageUrl">
                                    <slide>
                                        <img src="{{info}}" alt="first slide" >                                      
                                    </slide> 
                                    </div>                                 
                                </carousel>
                            </div>
                          </div>                          
                      </div> 
                      <div id="SGS" *ngIf="toShow === 'SGS'">
                          <div class="row">
                              <div class="col-xl-8">
                                    <h4>SGS </h4> 
                                 <div class="course-features" [innerHTML]="sgsdata?.content">                                     
                                  </div> <!-- course features -->
                              </div>
                              <div class="col-lg-4 mt-50">
                                <carousel>
                                    <div *ngFor="let info of sgsimageUrl">
                                    <slide>
                                        <img src="{{info}}" alt="first slide" >                                      
                                    </slide> 
                                    </div>                                 
                                </carousel>
                            </div>
                          </div>                          
                      </div> 
                      <div id="NCC" *ngIf="toShow === 'NCC'">
                          <div class="row">
                              <div class="col-xl-8">
                                    <h4>NCC</h4> 
                                 <div class="course-features" [innerHTML]="nccdata?.content">   
                                  </div>                                                                 
                              </div>
                              <div class="col-lg-4 mt-50">
                                <carousel>
                                    <div *ngFor="let info of nccimageUrl">
                                    <slide>
                                        <img src="{{info}}" alt="first slide" >                                      
                                    </slide> 
                                    </div>                                 
                                </carousel>
                            </div>
                          </div>                          
                      </div> 
                      <div id="NSS" *ngIf="toShow === 'NSS'">
                           <div class="row">
                               <div class="col-xl-8">
                                    <h4>NSS</h4>  
                                 <div class="course-features" [innerHTML]="nssdata?.content">
                                   </div>                                                                 
                               </div>
                               <div class="col-lg-4 mt-50">
                                <carousel>
                                    <div *ngFor="let info of nssimageUrl">
                                    <slide>
                                        <img src="{{info}}" alt="first slide" >                                      
                                    </slide> 
                                    </div>                                 
                                </carousel>
                            </div>
                           </div>                          
                       </div>  
                       <div id="IIPC" *ngIf="toShow === 'IIPC'">
                           <div class="row">
                               <div class="col-xl-8">
                                    <h4>IIPC</h4>  
                                 <div class="course-features" [innerHTML]="iipcdata?.content">  
                                 </div>                                                                 
                               </div>
                               <div class="col-lg-4 mt-50">
                                <carousel>
                                    <div *ngFor="let info of iipcimageUrl">
                                    <slide>
                                        <img src="{{info}}" alt="first slide" >                                      
                                    </slide> 
                                    </div>                                 
                                </carousel>
                            </div>
                           </div>                          
                       </div> 
                       <div id="Education" *ngIf="toShow === 'CEC'">
                           <div class="row">
                               <div class="col-xl-8">
                                 <h4>Continuing Education Centre</h4>  
                                 <div class="course-features" [innerHTML]="educationdata?.content">
                                   </div>                                                                 
                               </div>
                               <div class="col-lg-4 mt-50">
                                <carousel>
                                    <div *ngFor="let info of educationimageUrl">
                                    <slide>
                                        <img src="{{info}}" alt="first slide" >                                      
                                    </slide> 
                                    </div>                                 
                                </carousel>
                            </div>
                           </div>                          
                       </div> 
                       <div id="RRC" *ngIf="toShow === 'RRC'">
                           <div class="row">
                               <div class="col-xl-8">
                                    <h4>Red Ribbon Club</h4>  
                                 <div class="course-features" [innerHTML]="rrcdata?.content">                                           
                                   </div>                                                                 
                               </div>
                               <div class="col-lg-4 mt-50">
                                <carousel>
                                    <div *ngFor="let info of rrcimageUrl">
                                    <slide>
                                        <img src="{{info}}" alt="first slide" >                                      
                                    </slide> 
                                    </div>                                 
                                </carousel>
                            </div>
                           </div>                          
                       </div>  
                       <div id="EMDC" *ngIf="toShow === 'EMDC'">
                           <div class="row">
                               <div class="col-xl-8">
                                    <h4>EMDC</h4>  
                                 <div class="course-features" [innerHTML]="emdcdata?.content">
                                   </div>                                                                 
                               </div>
                               <div class="col-lg-4 mt-50">
                                <carousel>
                                    <div *ngFor="let info of emdcimageUrl">
                                    <slide>
                                        <img src="{{info}}" alt="first slide" >                                      
                                    </slide> 
                                    </div>                                 
                                </carousel>
                            </div>
                           </div>                          
                       </div> 
                       <div id="ISTE" *ngIf="toShow === 'ISTE'">
                           <div class="row">
                               <div class="col-xl-8">
                                    <h4>ISTE</h4>  
                                 <div class="course-features" [innerHTML]="istedata?.content">                                           
                                   </div>                                                                 
                               </div>
                               <div class="col-lg-4 mt-50">
                                <carousel>
                                    <div *ngFor="let info of isteimageurl">
                                    <slide>
                                        <img src="{{info}}" alt="first slide" >                                      
                                    </slide> 
                                    </div>                                 
                                </carousel>
                            </div>
                           </div>                          
                       </div> 
                       <div id="YRC" *ngIf="toShow === 'YRC'">
                           <div class="row">
                               <div class="col-xl-8">
                                    <h4>Youth Red Cross</h4>  
                                 <div class="course-features" [innerHTML]="yrcdata?.content">                                           
                                   </div>                                                                 
                               </div>
                               <div class="col-lg-4 mt-50">
                                <carousel>
                                    <div *ngFor="let info of yrcimageUrl">
                                    <slide>
                                        <img src="{{info}}" alt="first slide" >                                      
                                    </slide> 
                                    </div>                                 
                                </carousel>
                            </div>
                           </div>                          
                       </div> 
                       <div id="CDTP" *ngIf="toShow === 'CDTP'">
                           <div class="row">
                               <div class="col-xl-8">
                                    <h4>CDTP</h4>  
                                 <div class="course-features" [innerHTML]="cdtpdata?.content">      
                                   </div>                                                                 
                               </div>
                               <div class="col-lg-4 mt-50">
                                <carousel>
                                    <div *ngFor="let info of cdtpimageUrl">
                                    <slide>
                                        <img src="{{info}}" alt="first slide">                                      
                                    </slide> 
                                    </div>                                 
                                </carousel>
                            </div>
                           </div>                          
                       </div>     
                </div>
              </div>
          </div>                
      </div>
    
  </div>
</div>